{
  "openapi": "3.0.0",
  "info": {
    "title": "ContainerRegistryManagementClient",
    "version": "2019-12-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.ContainerRegistry/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Container Registry REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationList": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryNameStatus"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "Checks whether the container registry name is available for use. The name must contain only alphanumeric characters, be globally unique, and between 5 and 50 characters in length.",
        "operationId": "Registries_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistryNameCheckRequest"
              }
            }
          },
          "description": "The object containing information for the availability request.",
          "required": true
        },
        "x-ms-examples": {
          "RegistryCheckNameAvailable": {
            "$ref": "./examples/RegistryCheckNameAvailable.json"
          },
          "RegistryCheckNameNotAvailable": {
            "$ref": "./examples/RegistryCheckNameNotAvailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Lists all the container registries under the specified subscription.",
        "operationId": "Registries_List",
        "x-ms-examples": {
          "RegistryList": {
            "$ref": "./examples/RegistryList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Lists all the container registries under the specified resource group.",
        "operationId": "Registries_ListByResourceGroup",
        "x-ms-examples": {
          "RegistryListByResourceGroup": {
            "$ref": "./examples/RegistryListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The container registry does not exist in the subscription."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Deletes a container registry.",
        "operationId": "Registries_Delete",
        "x-ms-examples": {
          "RegistryDelete": {
            "$ref": "./examples/RegistryDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Gets the properties of the specified container registry.",
        "operationId": "Registries_Get",
        "x-ms-examples": {
          "RegistryGet": {
            "$ref": "./examples/RegistryGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Updates a container registry with the specified parameters.",
        "operationId": "Registries_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistryUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a container registry.",
          "required": true
        },
        "x-ms-examples": {
          "RegistryUpdate": {
            "$ref": "./examples/RegistryUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Creates a container registry with the specified parameters.",
        "operationId": "Registries_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Registry"
              }
            }
          },
          "description": "The parameters for creating a container registry.",
          "required": true
        },
        "x-ms-examples": {
          "RegistryCreate": {
            "$ref": "./examples/RegistryCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/exportPipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPipelineListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "ExportPipelines"
        ],
        "description": "Lists all export pipelines for the specified container registry.",
        "operationId": "ExportPipelines_List",
        "x-ms-examples": {
          "ExportPipelineList": {
            "$ref": "./examples/ExportPipelineList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/exportPipelines/{exportPipelineName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The export pipeline does not exist in the subscription."
          }
        },
        "tags": [
          "ExportPipelines"
        ],
        "description": "Deletes an export pipeline from a container registry.",
        "operationId": "ExportPipelines_Delete",
        "x-ms-examples": {
          "ExportPipelineDelete": {
            "$ref": "./examples/ExportPipelineDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPipeline"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "ExportPipelines"
        ],
        "description": "Gets the properties of the export pipeline.",
        "operationId": "ExportPipelines_Get",
        "x-ms-examples": {
          "ExportPipelineGet": {
            "$ref": "./examples/ExportPipelineGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPipeline"
                }
              }
            },
            "description": "The request was successful; the operation has completed successfully."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPipeline"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "ExportPipelines"
        ],
        "description": "Creates an export pipeline for a container registry with the specified parameters.",
        "operationId": "ExportPipelines_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportPipeline"
              }
            }
          },
          "description": "The parameters for creating an export pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "ExportPipelineCreate": {
            "$ref": "./examples/ExportPipelineCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/importImage": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the operation has completed successfully."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Copies an image to this container registry from the specified container registry.",
        "operationId": "Registries_ImportImage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportImageParameters"
              }
            }
          },
          "description": "The parameters specifying the image to copy and the source container registry.",
          "required": true
        },
        "x-ms-examples": {
          "ImportImageByManifestDigest": {
            "$ref": "./examples/ImportImageByManifestDigest.json"
          },
          "ImportImageByTag": {
            "$ref": "./examples/ImportImageByTag.json"
          },
          "ImportImageFromPublicRegistry": {
            "$ref": "./examples/ImportImageFromPublicRegistry.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/importPipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPipelineListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "ImportPipelines"
        ],
        "description": "Lists all import pipelines for the specified container registry.",
        "operationId": "ImportPipelines_List",
        "x-ms-examples": {
          "ImportPipelineList": {
            "$ref": "./examples/ImportPipelineList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/importPipelines/{importPipelineName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ImportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The import pipeline does not exist in the subscription."
          }
        },
        "tags": [
          "ImportPipelines"
        ],
        "description": "Deletes an import pipeline from a container registry.",
        "operationId": "ImportPipelines_Delete",
        "x-ms-examples": {
          "ImportPipelineDelete": {
            "$ref": "./examples/ImportPipelineDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ImportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPipeline"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "ImportPipelines"
        ],
        "description": "Gets the properties of the import pipeline.",
        "operationId": "ImportPipelines_Get",
        "x-ms-examples": {
          "ImportPipelineGet": {
            "$ref": "./examples/ImportPipelineGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ImportPipelineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPipeline"
                }
              }
            },
            "description": "The request was successful; the operation has completed successfully."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPipeline"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "ImportPipelines"
        ],
        "description": "Creates an import pipeline for a container registry with the specified parameters.",
        "operationId": "ImportPipelines_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPipeline"
              }
            }
          },
          "description": "The parameters for creating an import pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "ImportPipelineCreate": {
            "$ref": "./examples/ImportPipelineCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/listCredentials": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryListCredentialsResult"
                }
              }
            },
            "description": "The request was successful; the list of credentials retrieved and returned successfully."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Lists the login credentials for the specified container registry.",
        "operationId": "Registries_ListCredentials",
        "x-ms-examples": {
          "RegistryListCredentials": {
            "$ref": "./examples/RegistryListCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/listUsages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryUsageListResult"
                }
              }
            },
            "description": "The request was successful; the registry usages retrieved and returned successfully."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Gets the quota usages for the specified container registry.",
        "operationId": "Registries_ListUsages",
        "x-ms-examples": {
          "RegistryListUsages": {
            "$ref": "./examples/RegistryListUsages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/pipelineRuns": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRunListResult"
                }
              }
            },
            "description": "The request was successful; the request was well - formed and received properly."
          }
        },
        "tags": [
          "PipelineRuns"
        ],
        "description": "Lists all the pipeline runs for the specified container registry.",
        "operationId": "PipelineRuns_List",
        "x-ms-examples": {
          "PipelineRunList": {
            "$ref": "./examples/PipelineRunList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/pipelineRuns/{pipelineRunName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PipelineRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The pipeline run does not exist in the subscription."
          }
        },
        "tags": [
          "PipelineRuns"
        ],
        "description": "Deletes a pipeline run from a container registry.",
        "operationId": "PipelineRuns_Delete",
        "x-ms-examples": {
          "PipelineRunDelete": {
            "$ref": "./examples/PipelineRunDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PipelineRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRun"
                }
              }
            },
            "description": "The request was successful; the request was well - formed and received properly."
          }
        },
        "tags": [
          "PipelineRuns"
        ],
        "description": "Gets the detailed information for a given pipeline run.",
        "operationId": "PipelineRuns_Get",
        "x-ms-examples": {
          "PipelineRunGet": {
            "$ref": "./examples/PipelineRunGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PipelineRunNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRun"
                }
              }
            },
            "description": "The request was successful; the request was well - formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRun"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "PipelineRuns"
        ],
        "description": "Creates a pipeline run for a container registry with the specified parameters",
        "operationId": "PipelineRuns_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineRun"
              }
            }
          },
          "description": "The parameters for creating a pipeline run.",
          "required": true
        },
        "x-ms-examples": {
          "PipelineRunCreate_Export": {
            "$ref": "./examples/PipelineRunCreate_Export.json"
          },
          "PipelineRunCreate_Import": {
            "$ref": "./examples/PipelineRunCreate_Import.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/privateEndpointConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointConnectionListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all private endpoint connections in a container registry.",
        "operationId": "PrivateEndpointConnections_List",
        "x-ms-examples": {
          "PrivateEndpointConnectionList": {
            "$ref": "./examples/PrivateEndpointConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateEndpointConnectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The private endpoint connection does not exist in the subscription."
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the container registry.",
        "operationId": "PrivateEndpointConnections_Delete",
        "x-ms-examples": {
          "PrivateEndpointConnectionDelete": {
            "$ref": "./examples/PrivateEndpointConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateEndpointConnectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointConnection"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get the specified private endpoint connection associated with the container registry.",
        "operationId": "PrivateEndpointConnections_Get",
        "x-ms-examples": {
          "PrivateEndpointConnectionGet": {
            "$ref": "./examples/PrivateEndpointConnectionGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateEndpointConnectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointConnection"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointConnection"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the container registry.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateEndpointConnection"
              }
            }
          },
          "description": "The parameters for creating a private endpoint connection.",
          "required": true
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionCreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnectionCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/privateLinkResources": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLinkResourceListResult"
                }
              }
            },
            "description": "The request was successful; the private link resources were retrieved and returned successfully."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Lists the private link resources for a container registry.",
        "operationId": "Registries_ListPrivateLinkResources",
        "x-ms-examples": {
          "RegistryListPrivateLinkResources": {
            "$ref": "./examples/RegistryListPrivateLinkResources.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/regenerateCredential": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryListCredentialsResult"
                }
              }
            },
            "description": "The request was successful; the specified credential regenerated successfully."
          }
        },
        "tags": [
          "Registries"
        ],
        "description": "Regenerates one of the login credentials for the specified container registry.",
        "operationId": "Registries_RegenerateCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateCredentialParameters"
              }
            }
          },
          "description": "Specifies name of the password which should be regenerated -- password or password2.",
          "required": true
        },
        "x-ms-examples": {
          "RegistryRegenerateCredential": {
            "$ref": "./examples/RegistryRegenerateCredential.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/replications": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Replications"
        ],
        "description": "Lists all the replications for the specified container registry.",
        "operationId": "Replications_List",
        "x-ms-examples": {
          "ReplicationList": {
            "$ref": "./examples/ReplicationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/replications/{replicationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ReplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The replication does not exist in the subscription."
          }
        },
        "tags": [
          "Replications"
        ],
        "description": "Deletes a replication from a container registry.",
        "operationId": "Replications_Delete",
        "x-ms-examples": {
          "ReplicationDelete": {
            "$ref": "./examples/ReplicationDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ReplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replication"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Replications"
        ],
        "description": "Gets the properties of the specified replication.",
        "operationId": "Replications_Get",
        "x-ms-examples": {
          "ReplicationGet": {
            "$ref": "./examples/ReplicationGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ReplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replication"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replication"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Replications"
        ],
        "description": "Updates a replication for a container registry with the specified parameters.",
        "operationId": "Replications_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplicationUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a replication.",
          "required": true
        },
        "x-ms-examples": {
          "ReplicationUpdate": {
            "$ref": "./examples/ReplicationUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/ReplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replication"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replication"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Replications"
        ],
        "description": "Creates a replication for a container registry with the specified parameters.",
        "operationId": "Replications_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Replication"
              }
            }
          },
          "description": "The parameters for creating a replication.",
          "required": true
        },
        "x-ms-examples": {
          "ReplicationCreate": {
            "$ref": "./examples/ReplicationCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Lists all the webhooks for the specified container registry.",
        "operationId": "Webhooks_List",
        "x-ms-examples": {
          "WebhookList": {
            "$ref": "./examples/WebhookList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "The webhook does not exist in the subscription."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Deletes a webhook from a container registry.",
        "operationId": "Webhooks_Delete",
        "x-ms-examples": {
          "WebhookDelete": {
            "$ref": "./examples/WebhookDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Gets the properties of the specified webhook.",
        "operationId": "Webhooks_Get",
        "x-ms-examples": {
          "WebhookGet": {
            "$ref": "./examples/WebhookGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Updates a webhook with the specified parameters.",
        "operationId": "Webhooks_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a webhook.",
          "required": true
        },
        "x-ms-examples": {
          "WebhookUpdate": {
            "$ref": "./examples/WebhookUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Creates a webhook for a container registry with the specified parameters.",
        "operationId": "Webhooks_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateParameters"
              }
            }
          },
          "description": "The parameters for creating a webhook.",
          "required": true
        },
        "x-ms-examples": {
          "WebhookCreate": {
            "$ref": "./examples/WebhookCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/getCallbackConfig": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackConfig"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Gets the configuration of service URI and custom headers for the webhook.",
        "operationId": "Webhooks_GetCallbackConfig",
        "x-ms-examples": {
          "WebhookGetCallbackConfig": {
            "$ref": "./examples/WebhookGetCallbackConfig.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/listEvents": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Lists recent events for the specified webhook.",
        "operationId": "Webhooks_ListEvents",
        "x-ms-examples": {
          "WebhookListEvents": {
            "$ref": "./examples/WebhookListEvents.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/ping": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/RegistryNameParameter"
          },
          {
            "$ref": "#/components/parameters/WebhookNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventInfo"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Triggers a ping event to be sent to the webhook.",
        "operationId": "Webhooks_Ping",
        "x-ms-examples": {
          "WebhookPing": {
            "$ref": "./examples/WebhookPing.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ExportPipelineNameParameter": {
        "description": "The name of the export pipeline.",
        "in": "path",
        "name": "exportPipelineName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ImportPipelineNameParameter": {
        "description": "The name of the import pipeline.",
        "in": "path",
        "name": "importPipelineName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PipelineRunNameParameter": {
        "description": "The name of the pipeline run.",
        "in": "path",
        "name": "pipelineRunName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PrivateEndpointConnectionNameParameter": {
        "description": "The name of the private endpoint connection.",
        "in": "path",
        "name": "privateEndpointConnectionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "RegistryNameParameter": {
        "description": "The name of the container registry.",
        "in": "path",
        "name": "registryName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ReplicationNameParameter": {
        "description": "The name of the replication.",
        "in": "path",
        "name": "replicationName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "The name of the resource group to which the container registry belongs.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The Microsoft Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "WebhookNameParameter": {
        "description": "The name of the webhook.",
        "in": "path",
        "name": "webhookName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Actor": {
        "description": "The agent that initiated the event. For most situations, this could be from the authorization context of the request.",
        "properties": {
          "name": {
            "description": "The subject or username associated with the request context that generated the event.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CallbackConfig": {
        "description": "The configuration of service URI and custom headers for the webhook.",
        "properties": {
          "customHeaders": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom headers that will be added to the webhook notifications.",
            "type": "object"
          },
          "serviceUri": {
            "description": "The service URI for the webhook to post notifications.",
            "type": "string"
          }
        },
        "required": [
          "serviceUri"
        ],
        "type": "object"
      },
      "EncryptionProperty": {
        "properties": {
          "keyVaultProperties": {
            "$ref": "#/components/schemas/KeyVaultProperties",
            "description": "Key vault properties."
          },
          "status": {
            "description": "Indicates whether or not the encryption is enabled for container registry.",
            "enum": [
              "enabled",
              "disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EncryptionStatus"
            }
          }
        },
        "type": "object"
      },
      "Event": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventInfo"
          }
        ],
        "description": "The event for a webhook.",
        "properties": {
          "eventRequestMessage": {
            "$ref": "#/components/schemas/EventRequestMessage",
            "description": "The event request message sent to the service URI."
          },
          "eventResponseMessage": {
            "$ref": "#/components/schemas/EventResponseMessage",
            "description": "The event response message received from the service URI."
          }
        },
        "type": "object"
      },
      "EventContent": {
        "description": "The content of the event request message.",
        "properties": {
          "action": {
            "description": "The action that encompasses the provided event.",
            "type": "string"
          },
          "actor": {
            "$ref": "#/components/schemas/Actor",
            "description": "The agent that initiated the event. For most situations, this could be from the authorization context of the request."
          },
          "id": {
            "description": "The event ID.",
            "type": "string"
          },
          "request": {
            "$ref": "#/components/schemas/Request",
            "description": "The request that generated the event."
          },
          "source": {
            "$ref": "#/components/schemas/Source",
            "description": "The registry node that generated the event. Put differently, while the actor initiates the event, the source generates it."
          },
          "target": {
            "$ref": "#/components/schemas/Target",
            "description": "The target of the event."
          },
          "timestamp": {
            "description": "The time at which the event occurred.",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EventInfo": {
        "description": "The basic information of an event.",
        "properties": {
          "id": {
            "description": "The event ID.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EventListResult": {
        "description": "The result of a request to list events for a webhook.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of events.",
            "type": "string"
          },
          "value": {
            "description": "The list of events. Since this list may be incomplete, the nextLink field should be used to request the next list of events.",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "EventRequestMessage": {
        "description": "The event request message sent to the service URI.",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/EventContent",
            "description": "The content of the event request message."
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The headers of the event request message.",
            "type": "object"
          },
          "method": {
            "description": "The HTTP method used to send the event request message.",
            "type": "string"
          },
          "requestUri": {
            "description": "The URI used to send the event request message.",
            "type": "string"
          },
          "version": {
            "description": "The HTTP message version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EventResponseMessage": {
        "description": "The event response message received from the service URI.",
        "properties": {
          "content": {
            "description": "The content of the event response message.",
            "type": "string"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The headers of the event response message.",
            "type": "object"
          },
          "reasonPhrase": {
            "description": "The reason phrase of the event response message.",
            "type": "string"
          },
          "statusCode": {
            "description": "The status code of the event response message.",
            "type": "string"
          },
          "version": {
            "description": "The HTTP message version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExportPipeline": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "An object that represents an export pipeline for a container registry.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/IdentityProperties",
            "description": "The identity of the export pipeline."
          },
          "location": {
            "description": "The location of the export pipeline.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ExportPipelineProperties",
            "description": "The properties of the export pipeline.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ExportPipelineListResult": {
        "description": "The result of a request to list export pipelines for a container registry.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of pipeline runs.",
            "type": "string"
          },
          "value": {
            "description": "The list of export pipelines. Since this list may be incomplete, the nextLink field should be used to request the next list of export pipelines.",
            "items": {
              "$ref": "#/components/schemas/ExportPipeline"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ExportPipelineProperties": {
        "description": "The properties of an export pipeline.",
        "properties": {
          "options": {
            "description": "The list of all options configured for the pipeline.",
            "items": {
              "enum": [
                "OverwriteTags",
                "OverwriteBlobs",
                "DeleteSourceBlobOnSuccess",
                "ContinueOnErrors"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "PipelineOptions"
              }
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "The provisioning state of the pipeline at the time the operation was called.",
            "enum": [
              "Creating",
              "Updating",
              "Deleting",
              "Succeeded",
              "Failed",
              "Canceled"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "target": {
            "$ref": "#/components/schemas/ExportPipelineTargetProperties",
            "description": "The target properties of the export pipeline."
          }
        },
        "required": [
          "target"
        ],
        "type": "object"
      },
      "ExportPipelineTargetProperties": {
        "description": "The properties of the export pipeline target.",
        "properties": {
          "keyVaultUri": {
            "description": "They key vault secret uri to obtain the target storage SAS token.",
            "type": "string"
          },
          "type": {
            "description": "The type of target for the export pipeline.",
            "type": "string"
          },
          "uri": {
            "description": "The target uri of the export pipeline.\r\nWhen 'AzureStorageBlob': \"https://accountName.blob.core.windows.net/containerName/blobName\"\r\nWhen 'AzureStorageBlobContainer':  \"https://accountName.blob.core.windows.net/containerName\"",
            "type": "string"
          }
        },
        "required": [
          "keyVaultUri"
        ],
        "type": "object"
      },
      "IPRule": {
        "description": "IP rule with specific IP or IP range in CIDR format.",
        "properties": {
          "action": {
            "default": "Allow",
            "description": "The action of IP ACL rule.",
            "enum": [
              "Allow"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Action"
            }
          },
          "value": {
            "description": "Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed.",
            "type": "string",
            "x-ms-client-name": "IPAddressOrRange"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "IdentityProperties": {
        "description": "Managed identity for the resource.",
        "properties": {
          "principalId": {
            "description": "The principal ID of resource identity.",
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant ID of resource.",
            "type": "string"
          },
          "type": {
            "description": "The identity type.",
            "enum": [
              "SystemAssigned",
              "UserAssigned",
              "SystemAssigned, UserAssigned",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ResourceIdentityType"
            }
          },
          "userAssignedIdentities": {
            "additionalProperties": {
              "$ref": "#/components/schemas/UserIdentityProperties"
            },
            "description": "The list of user identities associated with the resource. The user identity \r\ndictionary key references will be ARM resource ids in the form: \r\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/\r\n    providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ImportImageParameters": {
        "properties": {
          "mode": {
            "default": "NoForce",
            "description": "When Force, any existing target tags will be overwritten. When NoForce, any existing target tags will fail the operation before any copying begins.",
            "enum": [
              "NoForce",
              "Force"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ImportMode"
            }
          },
          "source": {
            "$ref": "#/components/schemas/ImportSource",
            "description": "The source of the image."
          },
          "targetTags": {
            "description": "List of strings of the form repo[:tag]. When tag is omitted the source will be used (or 'latest' if source tag is also omitted).",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "untaggedTargetRepositories": {
            "description": "List of strings of repository names to do a manifest only copy. No tag will be created.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "source"
        ],
        "type": "object"
      },
      "ImportPipeline": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "An object that represents an import pipeline for a container registry.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/IdentityProperties",
            "description": "The identity of the import pipeline."
          },
          "location": {
            "description": "The location of the import pipeline.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ImportPipelineProperties",
            "description": "The properties of the import pipeline.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ImportPipelineListResult": {
        "description": "The result of a request to list import pipelines for a container registry.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of pipeline runs.",
            "type": "string"
          },
          "value": {
            "description": "The list of import pipelines. Since this list may be incomplete, the nextLink field should be used to request the next list of import pipelines.",
            "items": {
              "$ref": "#/components/schemas/ImportPipeline"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ImportPipelineProperties": {
        "description": "The properties of an import pipeline.",
        "properties": {
          "options": {
            "description": "The list of all options configured for the pipeline.",
            "items": {
              "enum": [
                "OverwriteTags",
                "OverwriteBlobs",
                "DeleteSourceBlobOnSuccess",
                "ContinueOnErrors"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "PipelineOptions"
              }
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "The provisioning state of the pipeline at the time the operation was called.",
            "enum": [
              "Creating",
              "Updating",
              "Deleting",
              "Succeeded",
              "Failed",
              "Canceled"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "source": {
            "$ref": "#/components/schemas/ImportPipelineSourceProperties",
            "description": "The source properties of the import pipeline."
          },
          "trigger": {
            "$ref": "#/components/schemas/PipelineTriggerProperties",
            "description": "The properties that describe the trigger of the import pipeline."
          }
        },
        "required": [
          "source"
        ],
        "type": "object"
      },
      "ImportPipelineSourceProperties": {
        "description": "The properties of the import pipeline source.",
        "properties": {
          "keyVaultUri": {
            "description": "They key vault secret uri to obtain the source storage SAS token.",
            "type": "string"
          },
          "type": {
            "default": "AzureStorageBlobContainer",
            "description": "The type of source for the import pipeline.",
            "enum": [
              "AzureStorageBlobContainer"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PipelineSourceType"
            }
          },
          "uri": {
            "description": "The source uri of the import pipeline.\r\nWhen 'AzureStorageBlob': \"https://accountName.blob.core.windows.net/containerName/blobName\"\r\nWhen 'AzureStorageBlobContainer': \"https://accountName.blob.core.windows.net/containerName\"",
            "type": "string"
          }
        },
        "required": [
          "keyVaultUri"
        ],
        "type": "object"
      },
      "ImportSource": {
        "properties": {
          "credentials": {
            "$ref": "#/components/schemas/ImportSourceCredentials",
            "description": "Credentials used when importing from a registry uri."
          },
          "registryUri": {
            "description": "The address of the source registry (e.g. 'mcr.microsoft.com').",
            "type": "string"
          },
          "resourceId": {
            "description": "The resource identifier of the source Azure Container Registry.",
            "type": "string"
          },
          "sourceImage": {
            "description": "Repository name of the source image.\r\nSpecify an image by repository ('hello-world'). This will use the 'latest' tag.\r\nSpecify an image by tag ('hello-world:latest').\r\nSpecify an image by sha256-based manifest digest ('hello-world@sha256:abc123').",
            "type": "string"
          }
        },
        "required": [
          "sourceImage"
        ],
        "type": "object"
      },
      "ImportSourceCredentials": {
        "properties": {
          "password": {
            "description": "The password used to authenticate with the source registry.",
            "type": "string"
          },
          "username": {
            "description": "The username to authenticate with the source registry.",
            "type": "string"
          }
        },
        "required": [
          "password"
        ],
        "type": "object"
      },
      "KeyVaultProperties": {
        "properties": {
          "identity": {
            "description": "The client id of the identity which will be used to access key vault.",
            "type": "string"
          },
          "keyIdentifier": {
            "description": "Key vault uri to access the encryption key.",
            "type": "string"
          },
          "keyRotationEnabled": {
            "description": "Auto key rotation status for a CMK enabled registry.",
            "readOnly": true,
            "type": "boolean"
          },
          "lastKeyRotationTimestamp": {
            "description": "Timestamp of the last successful key rotation.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "versionedKeyIdentifier": {
            "description": "The fully qualified key identifier that includes the version of the key that is actually used for encryption.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkRuleSet": {
        "description": "The network rule set for a container registry.",
        "properties": {
          "defaultAction": {
            "default": "Allow",
            "description": "The default action of allow or deny when no other rules match.",
            "enum": [
              "Allow",
              "Deny"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DefaultAction"
            }
          },
          "ipRules": {
            "description": "The IP ACL rules.",
            "items": {
              "$ref": "#/components/schemas/IPRule"
            },
            "type": "array"
          },
          "virtualNetworkRules": {
            "description": "The virtual network rules.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkRule"
            },
            "type": "array"
          }
        },
        "required": [
          "defaultAction"
        ],
        "type": "object"
      },
      "OperationDefinition": {
        "description": "The definition of a container registry operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayDefinition",
            "description": "The display information for the container registry operation."
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "type": "string"
          },
          "origin": {
            "description": "The origin information of the container registry operation.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/OperationPropertiesDefinition",
            "description": "The properties information for the container registry operation.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OperationDisplayDefinition": {
        "description": "The display information for a container registry operation.",
        "properties": {
          "description": {
            "description": "The description for the operation.",
            "type": "string"
          },
          "operation": {
            "description": "The operation that users can perform.",
            "type": "string"
          },
          "provider": {
            "description": "The resource provider name: Microsoft.ContainerRegistry.",
            "type": "string"
          },
          "resource": {
            "description": "The resource on which the operation is performed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "The result of a request to list container registry operations.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of container registry operations.",
            "type": "string"
          },
          "value": {
            "description": "The list of container registry operations. Since this list may be incomplete, the nextLink field should be used to request the next list of operations.",
            "items": {
              "$ref": "#/components/schemas/OperationDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OperationLogSpecificationDefinition": {
        "description": "The definition of Azure Monitoring log.",
        "properties": {
          "blobDuration": {
            "description": "Log blob duration.",
            "type": "string"
          },
          "displayName": {
            "description": "Log display name.",
            "type": "string"
          },
          "name": {
            "description": "Log name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationMetricSpecificationDefinition": {
        "description": "The definition of Azure Monitoring metric.",
        "properties": {
          "aggregationType": {
            "description": "Metric aggregation type.",
            "type": "string"
          },
          "displayDescription": {
            "description": "Metric description.",
            "type": "string"
          },
          "displayName": {
            "description": "Metric display name.",
            "type": "string"
          },
          "internalMetricName": {
            "description": "Internal metric name.",
            "type": "string"
          },
          "name": {
            "description": "Metric name.",
            "type": "string"
          },
          "unit": {
            "description": "Metric unit.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationPropertiesDefinition": {
        "description": "The definition of Azure Monitoring properties.",
        "properties": {
          "serviceSpecification": {
            "$ref": "#/components/schemas/OperationServiceSpecificationDefinition",
            "description": "The definition of Azure Monitoring service."
          }
        },
        "type": "object"
      },
      "OperationServiceSpecificationDefinition": {
        "description": "The definition of Azure Monitoring list.",
        "properties": {
          "logSpecifications": {
            "description": "A list of Azure Monitoring log definitions.",
            "items": {
              "$ref": "#/components/schemas/OperationLogSpecificationDefinition"
            },
            "type": "array"
          },
          "metricSpecifications": {
            "description": "A list of Azure Monitoring metrics definition.",
            "items": {
              "$ref": "#/components/schemas/OperationMetricSpecificationDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineRun": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "An object that represents a pipeline run for a container registry.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PipelineRunProperties",
            "description": "The properties of a pipeline run.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PipelineRunListResult": {
        "description": "The result of a request to list pipeline runs for a container registry.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of pipeline runs.",
            "type": "string"
          },
          "value": {
            "description": "The list of pipeline runs. Since this list may be incomplete, the nextLink field should be used to request the next list of pipeline runs.",
            "items": {
              "$ref": "#/components/schemas/PipelineRun"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineRunProperties": {
        "description": "The properties of a pipeline run.",
        "properties": {
          "forceUpdateTag": {
            "description": "How the pipeline run should be forced to recreate even if the pipeline run configuration has not changed.",
            "type": "string"
          },
          "provisioningState": {
            "description": "The provisioning state of a pipeline run.",
            "enum": [
              "Creating",
              "Updating",
              "Deleting",
              "Succeeded",
              "Failed",
              "Canceled"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "request": {
            "$ref": "#/components/schemas/PipelineRunRequest",
            "description": "The request parameters for a pipeline run."
          },
          "response": {
            "$ref": "#/components/schemas/PipelineRunResponse",
            "description": "The response of a pipeline run.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "PipelineRunRequest": {
        "description": "The request properties provided for a pipeline run.",
        "properties": {
          "artifacts": {
            "description": "List of source artifacts to be transferred by the pipeline. \r\nSpecify an image by repository ('hello-world'). This will use the 'latest' tag.\r\nSpecify an image by tag ('hello-world:latest').\r\nSpecify an image by sha256-based manifest digest ('hello-world@sha256:abc123').",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "catalogDigest": {
            "description": "The digest of the tar used to transfer the artifacts.",
            "type": "string"
          },
          "pipelineResourceId": {
            "description": "The resource ID of the pipeline to run.",
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/PipelineRunSourceProperties",
            "description": "The source properties of the pipeline run."
          },
          "target": {
            "$ref": "#/components/schemas/PipelineRunTargetProperties",
            "description": "The target properties of the pipeline run."
          }
        },
        "type": "object"
      },
      "PipelineRunResponse": {
        "description": "The response properties returned for a pipeline run.",
        "properties": {
          "catalogDigest": {
            "description": "The digest of the tar used to transfer the artifacts.",
            "type": "string"
          },
          "finishTime": {
            "description": "The time the pipeline run finished.",
            "format": "date-time",
            "type": "string"
          },
          "importedArtifacts": {
            "description": "The artifacts imported in the pipeline run.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "pipelineRunErrorMessage": {
            "description": "The detailed error message for the pipeline run in the case of failure.",
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/ProgressProperties",
            "description": "The current progress of the copy operation."
          },
          "source": {
            "$ref": "#/components/schemas/ImportPipelineSourceProperties",
            "description": "The source of the pipeline run."
          },
          "startTime": {
            "description": "The time the pipeline run started.",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "The current status of the pipeline run.",
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/ExportPipelineTargetProperties",
            "description": "The target of the pipeline run."
          },
          "trigger": {
            "$ref": "#/components/schemas/PipelineTriggerDescriptor",
            "description": "The trigger that caused the pipeline run."
          }
        },
        "type": "object"
      },
      "PipelineRunSourceProperties": {
        "properties": {
          "name": {
            "description": "The name of the source.",
            "type": "string"
[...]
