{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs to manage Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2017-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimdeployment.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApiManagement/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "Success. The response describes the list of operations."
          }
        },
        "tags": [
          "ApiManagementOperations"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.ApiManagement provider.",
        "operationId": "ApiManagementOperations_List",
        "x-ms-examples": {
          "ApiManagementListOperations": {
            "$ref": "./examples/ApiManagementListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceNameAvailabilityResult"
                }
              }
            },
            "description": "The result of check name availability."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Checks availability and correctness of a name for an API Management service.",
        "operationId": "ApiManagementService_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceCheckNameAvailabilityParameters"
              }
            }
          },
          "description": "Parameters supplied to the CheckNameAvailability operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementServiceCheckNameAvailability": {
            "$ref": "./examples/ApiManagementServiceCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceListResult"
                }
              }
            },
            "description": "The API Management service list."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Lists all API Management services within an Azure subscription.",
        "operationId": "ApiManagementService_List",
        "x-ms-examples": {
          "ApiManagementListServiceBySubscription": {
            "$ref": "./examples/ApiManagementListServiceBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceListResult"
                }
              }
            },
            "description": "The API Management service list."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "List all API Management services within a resource group.",
        "operationId": "ApiManagementService_ListByResourceGroup",
        "x-ms-examples": {
          "ApiManagementListServiceBySubscriptionAndResourceGroup": {
            "$ref": "./examples/ApiManagementListServiceBySubscriptionAndResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Service was successfully deleted."
          },
          "204": {
            "description": "Service is already deleted."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Deletes an existing API Management service.",
        "operationId": "ApiManagementService_Delete",
        "x-ms-examples": {
          "ApiManagementServiceDeleteService": {
            "$ref": "./examples/ApiManagementServiceDeleteService.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Successfully got the API Management Service Resource."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Gets an API Management service resource description.",
        "operationId": "ApiManagementService_Get",
        "x-ms-examples": {
          "ApiManagementServiceGetService": {
            "$ref": "./examples/ApiManagementServiceGetService.json"
          },
          "ApiManagementServiceGetServiceHavingMsi": {
            "$ref": "./examples/ApiManagementServiceGetServiceHavingMsi.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "The service was successfully updated."
          },
          "202": {
            "description": "The service update request was Accepted."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Updates an existing API Management service.",
        "operationId": "ApiManagementService_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate API Management service operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementUpdateServiceDisableTls10": {
            "$ref": "./examples/ApiManagementUpdateServiceDisableTls10.json"
          },
          "ApiManagementUpdateServicePublisherDetails": {
            "$ref": "./examples/ApiManagementUpdateServicePublisherDetails.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "The service was successfully set up."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Created"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Creates or updates an API Management service. This is long running operation and could take several minutes to complete.",
        "operationId": "ApiManagementService_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceResource"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate API Management service operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementCreateMultiRegionServiceWithCustomHostname": {
            "$ref": "./examples/ApiManagementCreateMultiRegionServiceWithCustomHostname.json"
          },
          "ApiManagementCreateService": {
            "$ref": "./examples/ApiManagementCreateService.json"
          },
          "ApiManagementCreateServiceHavingMsi": {
            "$ref": "./examples/ApiManagementCreateServiceHavingMsi.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Network configuration updates were successfully applied on the Api Management service."
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated network settings.",
        "operationId": "ApiManagementService_ApplyNetworkConfigurationUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceApplyNetworkConfigurationParameters"
              }
            }
          },
          "description": "Parameters supplied to the Apply Network Configuration operation. If the parameters are empty, all the regions in which the Api Management service is deployed will be updated sequentially without incurring downtime in the region."
        },
        "x-ms-examples": {
          "ApiManagementApplyNetworkConfigurationUpdates": {
            "$ref": "./examples/ApiManagementApplyNetworkConfigurationUpdates.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Successfully backed up the API Management service to the storage account."
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.",
        "operationId": "ApiManagementService_Backup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceBackupRestoreParameters"
              }
            }
          },
          "description": "Parameters supplied to the ApiManagementService_Backup operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementCreateBackup": {
            "$ref": "./examples/ApiManagementCreateBackup.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceGetSsoTokenResult",
                  "x-ms-client-flatten": true
                }
              }
            },
            "description": "OK if successful with the SSO Redirect URI."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.",
        "operationId": "ApiManagementService_GetSsoToken",
        "x-ms-examples": {
          "ApiManagementServiceGetSsoToken": {
            "$ref": "./examples/ApiManagementServiceGetSsoToken.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Successfully restored the backup onto the API Management service."
          },
          "202": {
            "description": "Accepted: Location header contains the URL where the status of the long running operation can be checked."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long running operation and could take several minutes to complete.",
        "operationId": "ApiManagementService_Restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceBackupRestoreParameters"
              }
            }
          },
          "description": "Parameters supplied to the Restore API Management service from backup operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementRestoreService": {
            "$ref": "./examples/ApiManagementRestoreService.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/updatehostname": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Service was successfully updated with desired hostnames."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiManagementServiceResource"
                }
              }
            },
            "description": "Accepted. The location header contains the URL where the status of the long running operation can be checked. The response also includes the unmodified ApiManagementServiceResource."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Creates, updates, or deletes the custom hostnames for an API Management service. The custom hostname can be applied to the Proxy and Portal endpoint. This is a long running operation and could take several minutes to complete. This operation will be deprecated in the next version update.",
        "operationId": "ApiManagementService_UpdateHostname",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceUpdateHostnameParameters"
              }
            }
          },
          "description": "Parameters supplied to the UpdateHostname operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementServiceUpdateHostName": {
            "$ref": "./examples/ApiManagementServiceUpdateHostName.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/uploadcertificate": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateInformation"
                }
              }
            },
            "description": "Successfully uploaded certificate to the API Management Service."
          }
        },
        "tags": [
          "ApiManagementService"
        ],
        "description": "Upload Custom Domain SSL certificate for an API Management service. This operation will be deprecated in future releases.",
        "operationId": "ApiManagementService_UploadCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiManagementServiceUploadCertificateParameters"
              }
            }
          },
          "description": "Parameters supplied to the Upload SSL certificate for an API Management service operation.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementServiceUploadProxyCertificate": {
            "$ref": "./examples/ApiManagementServiceUploadProxyCertificate.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalLocation": {
        "description": "Description of an additional API Management resource location.",
        "properties": {
          "gatewayRegionalUrl": {
            "description": "Gateway URL of the API Management service in the Region.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location name of the additional region among Azure Data center regions.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ApiManagementServiceSkuProperties",
            "description": "SKU properties of the API Management service."
          },
          "staticIps": {
            "description": "Static IP addresses of the location's virtual machines.",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "virtualNetworkConfiguration": {
            "$ref": "#/components/schemas/VirtualNetworkConfiguration",
            "description": "Virtual network configuration for the location."
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object"
      },
      "ApiManagementServiceApplyNetworkConfigurationParameters": {
        "description": "Parameter supplied to the Apply Network configuration operation.",
        "properties": {
          "location": {
            "description": "Location of the Api Management service to update for a multi-region service. For a service deployed in a single region, this parameter is not required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApiManagementServiceBackupRestoreParameters": {
        "description": "Parameters supplied to the Backup/Restore of an API Management service operation.",
        "properties": {
          "accessKey": {
            "description": "Azure Cloud Storage account (used to place/retrieve the backup) access key.",
            "type": "string"
          },
          "backupName": {
            "description": "The name of the backup file to create.",
            "type": "string"
          },
          "containerName": {
            "description": "Azure Cloud Storage blob container name used to place/retrieve the backup.",
            "type": "string"
          },
          "storageAccount": {
            "description": "Azure Cloud Storage account (used to place/retrieve the backup) name.",
            "type": "string"
          }
        },
        "required": [
          "storageAccount",
          "accessKey",
          "containerName",
          "backupName"
        ],
        "type": "object"
      },
      "ApiManagementServiceBaseProperties": {
        "description": "Base Properties of an API Management service resource description.",
        "properties": {
          "additionalLocations": {
            "description": "Additional datacenter locations of the API Management service.",
            "items": {
              "$ref": "#/components/schemas/AdditionalLocation"
            },
            "type": "array"
          },
          "certificates": {
            "description": "List of Certificates that need to be installed in the API Management service. Max supported certificates that can be installed is 10.",
            "items": {
              "$ref": "#/components/schemas/CertificateConfiguration"
            },
            "type": "array"
          },
          "createdAtUtc": {
            "description": "Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "customProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom properties of the API Management service. Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168` will disable the cipher TLS_RSA_WITH_3DES_EDE_CBC_SHA for all TLS(1.0, 1.1 and 1.2). Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11` can be used to disable just TLS 1.1 and setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10` can be used to disable TLS 1.0 on an API Management service.",
            "type": "object"
          },
          "gatewayRegionalUrl": {
            "description": "Gateway URL of the API Management service in the Default Region.",
            "readOnly": true,
            "type": "string"
          },
          "gatewayUrl": {
            "description": "Gateway URL of the API Management service.",
            "readOnly": true,
            "type": "string"
          },
          "hostnameConfigurations": {
            "description": "Custom hostname configuration of the API Management service.",
            "items": {
              "$ref": "#/components/schemas/HostnameConfiguration"
            },
            "type": "array"
          },
          "managementApiUrl": {
            "description": "Management API endpoint URL of the API Management service.",
            "readOnly": true,
            "type": "string"
          },
          "notificationSenderEmail": {
            "description": "Email address from which the notification will be sent.",
            "maxLength": 100,
            "type": "string"
          },
          "portalUrl": {
            "description": "Publisher portal endpoint Url of the API Management service.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.",
            "readOnly": true,
            "type": "string"
          },
          "scmUrl": {
            "description": "SCM endpoint URL of the API Management service.",
            "readOnly": true,
            "type": "string"
          },
          "staticIps": {
            "description": "Static IP addresses of the API Management service virtual machines. Available only for Standard and Premium SKU.",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "targetProvisioningState": {
            "description": "The provisioning state of the API Management service, which is targeted by the long running operation started on the service.",
            "readOnly": true,
            "type": "string"
          },
          "virtualNetworkConfiguration": {
            "$ref": "#/components/schemas/VirtualNetworkConfiguration",
            "description": "Virtual network configuration of the API Management service."
          },
          "virtualNetworkType": {
            "default": "None",
            "description": "The type of VPN in which API Management service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.",
            "enum": [
              "None",
              "External",
              "Internal"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkType",
              "values": [
                {
                  "description": "The service is not part of any Virtual Network.",
                  "value": "None"
                },
                {
                  "description": "The service is part of Virtual Network and it is accessible from Internet.",
                  "value": "External"
                },
                {
                  "description": "The service is part of Virtual Network and it is only accessible from within the virtual network.",
                  "value": "Internal"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "ApiManagementServiceCheckNameAvailabilityParameters": {
        "description": "Parameters supplied to the CheckNameAvailability operation.",
        "properties": {
          "name": {
            "description": "The name to check for availability.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "ApiManagementServiceGetSsoTokenResult": {
        "description": "The response of the GetSsoToken operation.",
        "properties": {
          "redirectUri": {
            "description": "Redirect URL to the Publisher Portal containing the SSO token.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApiManagementServiceIdentity": {
        "description": "Identity properties of the Api Management service resource.",
        "properties": {
          "principalId": {
            "description": "The principal id of the identity.",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "The client tenant id of the identity.",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The identity type. Currently the only supported type is 'SystemAssigned'.",
            "enum": [
              "SystemAssigned"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApimIdentityType"
            }
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "ApiManagementServiceListResult": {
        "description": "The response of the List API Management services operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of API Management services.",
            "type": "string"
          },
          "value": {
            "description": "Result of the List API Management services operation.",
            "items": {
              "$ref": "#/components/schemas/ApiManagementServiceResource"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "ApiManagementServiceNameAvailabilityResult": {
        "description": "Response of the CheckNameAvailability operation.",
        "properties": {
          "message": {
            "description": "If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name.",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "True if the name is available and can be used to create a new API Management service; otherwise false.",
            "readOnly": true,
            "type": "boolean"
          },
          "reason": {
            "description": "Invalid indicates the name provided does not match the resource provider\u2019s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.",
            "enum": [
              "Valid",
              "Invalid",
              "AlreadyExists"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "NameAvailabilityReason"
            }
          }
        },
        "type": "object"
      },
      "ApiManagementServiceProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiManagementServiceBaseProperties"
          }
        ],
        "description": "Properties of an API Management service resource description.",
        "properties": {
          "publisherEmail": {
            "description": "Publisher email.",
            "maxLength": 100,
            "type": "string"
          },
          "publisherName": {
            "description": "Publisher name.",
            "maxLength": 100,
            "type": "string"
          }
        },
        "required": [
          "publisherEmail",
          "publisherName"
        ],
        "type": "object"
      },
      "ApiManagementServiceResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApimResource"
          }
        ],
        "description": "A single API Management service resource in List or Get response.",
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "identity": {
            "$ref": "#/components/schemas/ApiManagementServiceIdentity",
            "description": "Managed service identity of the Api Management service."
          },
          "location": {
            "description": "Resource location.",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/ApiManagementServiceProperties",
            "description": "Properties of the API Management service.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/ApiManagementServiceSkuProperties",
            "description": "SKU properties of the API Management service."
          }
        },
        "required": [
          "location",
          "sku",
          "properties"
        ],
        "type": "object"
      },
      "ApiManagementServiceSkuProperties": {
        "description": "API Management service resource SKU properties.",
        "properties": {
          "capacity": {
            "default": 1,
            "description": "Capacity of the SKU (number of deployed units of the SKU). The default value is 1.",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "externalDocs": {
              "url": "https://azure.microsoft.com/en-us/pricing/details/api-management/"
            },
            "description": "Name of the Sku.",
            "enum": [
              "Developer",
              "Standard",
              "Premium",
              "Basic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuType",
              "values": [
                {
                  "description": "Developer SKU of Api Management.",
                  "value": "Developer"
                },
                {
                  "description": "Standard SKU of Api Management.",
                  "value": "Standard"
                },
                {
                  "description": "Premium SKU of Api Management.",
                  "value": "Premium"
                },
                {
                  "description": "Basic SKU of Api Management.",
                  "value": "Basic"
                }
              ]
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "ApiManagementServiceUpdateHostnameParameters": {
        "description": "Parameters supplied to the UpdateHostname operation.",
        "properties": {
          "delete": {
            "description": "Hostnames types to delete.",
            "items": {
              "enum": [
                "Proxy",
                "Portal",
                "Management",
                "Scm"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": false,
                "name": "HostnameType"
              }
            },
            "type": "array"
          },
          "update": {
            "description": "Hostnames to create or update.",
            "items": {
              "$ref": "#/components/schemas/HostnameConfigurationOld"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApiManagementServiceUpdateParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApimResource"
          }
        ],
        "description": "Parameter supplied to Update Api Management Service.",
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "identity": {
            "$ref": "#/components/schemas/ApiManagementServiceIdentity",
            "description": "Managed service identity of the Api Management service."
          },
          "properties": {
            "$ref": "#/components/schemas/ApiManagementServiceUpdateProperties",
            "description": "Properties of the API Management service.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/ApiManagementServiceSkuProperties",
            "description": "SKU properties of the API Management service."
          }
        },
        "type": "object"
      },
      "ApiManagementServiceUpdateProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiManagementServiceBaseProperties"
          }
        ],
        "description": "Properties of an API Management service resource description.",
        "properties": {
          "publisherEmail": {
            "description": "Publisher email.",
            "maxLength": 100,
            "type": "string"
          },
          "publisherName": {
            "description": "Publisher name.",
            "maxLength": 100,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApiManagementServiceUploadCertificateParameters": {
        "description": "Parameters supplied to the Upload SSL certificate for an API Management service operation.",
        "properties": {
          "certificate": {
            "description": "Base64 Encoded certificate.",
            "type": "string"
          },
          "certificate_password": {
            "description": "Certificate password.",
            "type": "string"
          },
          "type": {
            "description": "Hostname type.",
            "enum": [
              "Proxy",
              "Portal",
              "Management",
              "Scm"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "HostnameType"
            }
          }
        },
        "required": [
          "type",
          "certificate",
          "certificate_password"
        ],
        "type": "object"
      },
      "ApimResource": {
        "description": "The Resource definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object"
          },
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type for API Management resource is set to Microsoft.ApiManagement.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "CertificateConfiguration": {
        "description": "Certificate configuration which consist of non-trusted intermediates and root certificates.",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/CertificateInformation",
            "description": "Certificate information.",
            "readOnly": true
          },
          "certificatePassword": {
            "description": "Certificate Password.",
            "type": "string"
          },
          "encodedCertificate": {
            "description": "Base64 Encoded certificate.",
            "type": "string"
          },
          "storeName": {
            "description": "The local certificate store location. Only Root and CertificateAuthority are valid locations.",
            "enum": [
              "CertificateAuthority",
              "Root"
            ],
            "type": "string"
          }
        },
        "required": [
          "storeName"
        ],
        "type": "object"
      },
      "CertificateInformation": {
        "description": "SSL certificate information.",
        "properties": {
          "expiry": {
            "description": "Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.",
            "format": "date-time",
            "type": "string"
          },
          "subject": {
            "description": "Subject of the certificate.",
            "type": "string"
          },
          "thumbprint": {
            "description": "Thumbprint of the certificate.",
            "type": "string"
          }
        },
        "required": [
          "expiry",
          "thumbprint",
          "subject"
        ],
        "type": "object"
      },
      "HostnameConfiguration": {
        "description": "Custom hostname configuration.",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/CertificateInformation",
            "description": "Certificate information.",
            "readOnly": true
          },
          "certificatePassword": {
            "description": "Certificate Password.",
            "type": "string"
          },
          "defaultSslBinding": {
            "default": false,
            "description": "Specify true to setup the certificate associated with this Hostname as the Default SSL Certificate. If a client does not send the SNI header, then this will be the certificate that will be challenged. The property is useful if a service has multiple custom hostname enabled and it needs to decide on the default ssl certificate. The setting only applied to Proxy Hostname Type.",
            "type": "boolean"
          },
          "encodedCertificate": {
            "description": "Base64 Encoded certificate.",
            "type": "string"
          },
          "hostName": {
            "description": "Hostname to configure on the Api Management service.",
            "type": "string"
          },
          "keyVaultId": {
            "description": "Url to the KeyVault Secret containing the Ssl Certificate. If absolute Url containing version is provided, auto-update of ssl certificate will not work. This requires Api Management service to be configured with MSI. The secret should be of type *application/x-pkcs12*",
            "type": "string"
          },
          "negotiateClientCertificate": {
            "default": false,
            "description": "Specify true to always negotiate client certificate on the hostname. Default Value is false.",
            "type": "boolean"
          },
          "type": {
            "description": "Hostname type.",
            "enum": [
              "Proxy",
              "Portal",
              "Management",
              "Scm"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "HostnameType"
            }
          }
        },
        "required": [
          "type",
          "hostName"
        ],
        "type": "object"
      },
      "HostnameConfigurationOld": {
        "description": "Custom hostname configuration.",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/CertificateInformation",
            "description": "Certificate information."
          },
          "hostname": {
            "description": "Hostname to configure.",
            "type": "string"
          },
          "type": {
            "description": "Hostname type.",
            "enum": [
              "Proxy",
              "Portal",
              "Management",
              "Scm"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "HostnameType"
            }
          }
        },
        "required": [
          "type",
          "hostname",
          "certificate"
        ],
        "type": "object"
      },
      "Operation": {
        "description": "REST API operation",
        "properties": {
          "display": {
            "description": "The object that describes the operation.",
            "properties": {
              "description": {
                "description": "Friendly name of the operation",
                "type": "string"
              },
              "operation": {
                "description": "Operation type: read, write, delete, listKeys/action, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Friendly name of the resource provider",
                "type": "string"
              },
              "resource": {
                "description": "Resource type on which the operation is performed.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          },
          "origin": {
            "description": "The operation origin.",
            "type": "string"
          },
          "properties": {
            "description": "The operation properties.",
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by the resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkConfiguration": {
        "description": "Configuration of a virtual network to which API Management service is deployed.",
        "properties": {
          "subnetResourceId": {
            "description": "The full resource ID of a subnet in a virtual network to deploy the API Management service in.",
            "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
            "type": "string"
          },
          "subnetname": {
            "description": "The name of the subnet.",
            "readOnly": true,
            "type": "string"
          },
          "vnetid": {
            "description": "The virtual network ID. This is typically a GUID. Expect a null GUID by default.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}