openapi: 3.0.0
info:
  contact:
    email: support@art19.com
    name: ART19 Engineering Team
  description: >
    The ART19 Content API conforms to the [JSON:API
    specification](http://jsonapi.org).


    API requests **MUST** use the HTTP Accept header:


    `Accept: application/vnd.api+json`


    API requests **MUST** be authenticated using the HTTP Authorization header:


    `Authorization: Token token="your-token", credential="your-credential"`


    ## General Notes


    Some query parameters use unencoded [ and ] characters simply for
    readability. Defaults, examples, and

    possible values are additionally rendered in double quotes for readability.
    In practice, query parameters should

    not have quotes around the values (e.g., `foo=bar` is valid, not
    `foo="bar"`), and both query parameter keys

    and values must be percent-encoded, per the requirements in [RFC 3986 §
    3.4](https://tools.ietf.org/html/rfc3986#section-3.4).


    ## Rate Limiting


    In order to provide a fair distribution of available resources, all API
    calls are subject to rate limits.

    If you exceed the number of API calls per minute granted to your credential,
    a `429 Too Many Requests`

    error response will be returned.


    In that case, a `Retry-After` header MAY be included in the response,
    describing the number of seconds

    after which a request can be retried.


    If you run into a high number of 429 errors, please reach out to ART19
    Support to adjust your rate limit.


    ### Example


    In the following example the request can be retried after waiting for 21
    seconds:

        HTTP/1.1 429 Too Many Requests
        Content-Type: text/html
        Retry-After: 21

    ## Pagination


    Requests to collection endpoints **SHOULD** provide pagination parameters.

    Some endpoints **REQUIRE** pagination parameters to be provided.

    Whenever pagination is provided, it **MUST** be valid.

    Failing to provide pagination when it is required or providing wrong or
    incomplete pagination

    always results in a `400 Bad Request` error response.


    The page numbering starts with `1` and the maximum page size (if not
    otherwise documented

    on an endpoint) is `100`. Pagination **MUST NOT** be specified if requesting
    a list of IDs (using an `ids[]` parameter).


    Providing invalid values for page number or page size, as well as providing
    only a page number or only a page size,

    is considered an error. Pagination is provided like this:


    `page[number]=1&page[size]=25`


    Responses conform to the [JSON:API specification's pagination
    section](https://jsonapi.org/format/#fetching-pagination)

    by including pagination links. Your requested page size will be carried into
    the pagination links.


    ## Sorting


    Requests to collection endpoints usually accept a `sort` parameter. Please
    refer to the

    [JSON:API Specification's sorting
    section](https://jsonapi.org/format/#fetching-sorting) for further details.


    ## Relationship Linking


    Currently, resources return all of their relationships, in no particular
    order, pursuant to how relationships

    should be returned [according to the JSON:API
    specification](https://jsonapi.org/format/#document-resource-object-relationships).
    Consumers of this API

    **MUST NOT** make assumptions about the order of these collections. Even
    though this data is not currently paginated, consumers **MUST** support

    paginating relationships per the JSON:API specification if this data is
    important for their application.
  termsOfService: 'https://art19.com/business-terms'
  title: ART19 Content API Documentation
  version: 1.0.0
servers:
  - url: 'https://art19.com/'
paths:
  /classification_inclusions:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you
            want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: 'ids[]'
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered
            starting at 1.

          in: query
          name: 'page[number]'
          schema:
            minimum: 1
            type: integer
        - description: |+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: 'page[size]'
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >-
            Limit the result to classification inclusions linked to a
            classification with this ID.
          example: a90609c0-9f0c-48fd-8a41-83eb8414bedb
          in: query
          name: classification_id
          schema:
            format: uuid
            type: string
        - description: >
            The type of classification that the classification inclusions are
            linked to.

            Depending on the permissions of your credential, only a subset of
            these types are usable.
          in: query
          name: classification_type
          schema:
            enum:
              - AlternateFeedType
              - Genre
              - Industry
              - Language
              - MediaRating
            type: string
        - description: >
            Limit the result to classification inclusions linked to a resource
            with this ID.

            You will have to use this filter together with either
            `classified_type` or `classification_type`.
          example: fee1976e-f1bc-48a9-9ee8-58800f4d3462
          in: query
          name: classified_id
          schema:
            format: uuid
            type: string
        - description: >-
            Limit the result to classification inclusions linked to this type of
            entity.
          in: query
          name: classified_type
          schema:
            enum:
              - Series
              - Season
              - Episode
            type: string
        - description: >
            Limit the result to classification inclusions linked to a
            classification containing

            the parameter value disregarding case.
          in: query
          name: q
          schema:
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top
            section or the

            [JSON:API
            specification](https://jsonapi.org/format/#fetching-sorting) on how
            sorting works in general.
          in: query
          name: sort
          schema:
            default: created_at
            items:
              enum:
                - classification_value
                - created_at
                - position
              type: string
            type: array
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ClassificationInclusion'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Success
        '400':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    description: >
                      An error object describing the problem. Please check out
                      the

                      [JSON:API Error document
                      reference](https://jsonapi.org/format/#error-objects) for
                      a full

                      description of the returned object.
                    items:
                      properties:
                        code:
                          description: >-
                            An application-specific error code, expressed as a
                            string value
                          type: string
                        detail:
                          description: >
                            A human-readable explanation specific to this
                            occurrence of the problem. Like title, this field’s
                            value can be localized.
                          example: Required query parameter “series_id” is missing
                          type: string
                        source:
                          description: >
                            An object containing references to the source of the
                            error, optionally including any of the following
                            members.
                          nullable: true
                          properties:
                            parameter:
                              description: >-
                                A string indicating which URI query parameter
                                caused the error.
                              example: series_id
                              type: string
                            pointer:
                              description: >
                                A JSON Pointer
                                [RFC6901](https://tools.ietf.org/html/rfc6901)
                                to the associated entity in the request document
                                (e.g. `/data` for a primary data object, or
                                `/data/attributes/title` for a specific
                                attribute).
                              example: /data/attributes/name
                              type: string
                          type: object
                        status:
                          description: >-
                            The HTTP status code applicable to this problem,
                            expressed as a string value: 400
                          example: '400'
                          type: string
                        title:
                          description: >
                            A short, human-readable summary of the problem that
                            SHOULD NOT change from occurrence to occurrence of
                            the

                            problem, except for purposes of localization.
                          example: Bad Request
                          type: string
                      type: object
                    type: array
                type: object
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no
            larger than 100. At least one filter parameter is required.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - ClassificationInclusion
      description: >
        Classification Inclusions connect classifications with entities like
        series, episodes, or campaigns, amongst others.


        In order to retrieve a set of classification inclusions, at least one of
        the following filter parameters must

        be provided. Failing to do so renders a `400 Bad Request` response.


        - `ids[]`

        - `classified_id` and `classified_type`

        - `classified_id` and `classification_type`

        - `classification_id` and `classified_type`
      summary: Get ClassificationInclusion records
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/classification_inclusions",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="28b5ef6f-36b6-4c7d-a3d4-ab3bf0cbe0d1"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="d6d32895-8e69-4bf4-8134-0ae7cae8910a"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/classification_inclusions');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="6b1cee9e-ac5d-4065-9c06-c65e64ded79f"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="dee810d0-78df-4aa1-bf36-40cfed9fcd9c"' \
              --compressed
  '/classification_inclusions/{id}':
    get:
      parameters:
        - description: The ID of the classification inclusion resource to load.
          example: 66f3aed2-4f07-490c-8a83-bdaa2c7c4b27
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClassificationInclusion'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - ClassificationInclusion
      summary: Get a specific classification inclusion
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/classification_inclusions/fff2c86f-6e41-466c-8a18-1a177ae970a3",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="c9c750ea-9d05-46e2-a272-e52077e17747"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/classification_inclusions/fff2c86f-6e41-466c-8a18-1a177ae970a3', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="0ca63de3-e2d4-415c-952d-f9e239fac726"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/classification_inclusions/fff2c86f-6e41-466c-8a18-1a177ae970a3');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="5bb885bc-d6de-45e3-a87f-b19e79cb0d34"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/classification_inclusions/fff2c86f-6e41-466c-8a18-1a177ae970a3'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="ba3f7c00-3e66-443d-8382-58c14c3ca302"' \
              --compressed
  /classifications:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you
            want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: 'ids[]'
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered
            starting at 1.

          in: query
          name: 'page[number]'
          schema:
            minimum: 1
            type: integer
        - description: |+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: 'page[size]'
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            Limit the result to classifications of this type. The possible
            values for types

            depends on the privileges of the provided credential.
          example: Genre
          in: query
          name: type
          schema:
            enum:
              - AlternateFeedType
              - Genre
              - Industry
              - Language
              - MediaRating
            type: string
        - description: >
            Limit the result to classifications with a value containing the
            parameter value

            disregarding case.
          in: query
          name: q
          schema:
            type: string
        - description: >
            If this parameter is provided and not empty, limit the result to
            classifications

            of type `Geography` representing countries. The credential must have
            at least one

            privilege with a network, series, or advertiser profile.
          example: 'true'
          in: query
          name: is_country
          schema:
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top
            section or the

            [JSON:API
            specification](https://jsonapi.org/format/#fetching-sorting) on how
            sorting works in general.
          in: query
          name: sort
          schema:
            default: value
            items:
              enum:
                - created_at
                - updated_at
                - value
              type: string
            type: array
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Classification'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Success
        '400':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    description: >
                      An error object describing the problem. Please check out
                      the

                      [JSON:API Error document
                      reference](https://jsonapi.org/format/#error-objects) for
                      a full

                      description of the returned object.
                    items:
                      properties:
                        code:
                          description: >-
                            An application-specific error code, expressed as a
                            string value
                          type: string
                        detail:
                          description: >
                            A human-readable explanation specific to this
                            occurrence of the problem. Like title, this field’s
                            value can be localized.
                          example: Required query parameter “series_id” is missing
                          type: string
                        source:
                          description: >
                            An object containing references to the source of the
                            error, optionally including any of the following
                            members.
                          nullable: true
                          properties:
                            parameter:
                              description: >-
                                A string indicating which URI query parameter
                                caused the error.
                              example: series_id
                              type: string
                            pointer:
                              description: >
                                A JSON Pointer
                                [RFC6901](https://tools.ietf.org/html/rfc6901)
                                to the associated entity in the request document
                                (e.g. `/data` for a primary data object, or
                                `/data/attributes/title` for a specific
                                attribute).
                              example: /data/attributes/name
                              type: string
                          type: object
                        status:
                          description: >-
                            The HTTP status code applicable to this problem,
                            expressed as a string value: 400
                          example: '400'
                          type: string
                        title:
                          description: >
                            A short, human-readable summary of the problem that
                            SHOULD NOT change from occurrence to occurrence of
                            the

                            problem, except for purposes of localization.
                          example: Bad Request
                          type: string
                      type: object
                    type: array
                type: object
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no
            larger than 100. Filtering by type for AudienceSegment, AudienceTag,
            ListeningPlatform, and UserDevice is no longer supported.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Classification
      summary: Get a list of classifications
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/classifications",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="bd98ed9f-ecdb-444b-a415-df7fe5369ef4"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="40fbb125-9272-462e-b99c-8c4c1494f6ce"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/classifications');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="c2ce756c-ec7f-40fc-92c0-38c397061016"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="473c95c3-bd9d-4f61-ab42-d0ec36cd56a6"' \
              --compressed
  '/classifications/{id}':
    get:
      parameters:
        - description: The ID of the classification resource to load.
          example: b225911b-b152-4568-9e26-eb5eeea4fa44
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Classification'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Classification
      summary: Get a specific classification
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/classifications/0ba6b717-cfb1-4715-8a99-5e54a77156a4",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="e52995da-7b9e-4b57-8ed9-f27b7734c98c"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/classifications/0ba6b717-cfb1-4715-8a99-5e54a77156a4', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="bb119e61-5e85-4eac-b35d-99029adf4a94"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/classifications/0ba6b717-cfb1-4715-8a99-5e54a77156a4');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="7c44c278-fad4-44bc-b98f-e8a7b222ea38"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/classifications/0ba6b717-cfb1-4715-8a99-5e54a77156a4'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="11b7ed73-adb0-4b1a-8778-86a3e5b3ff98"' \
              --compressed
  /credits:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you
            want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: 'ids[]'
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered
            starting at 1.

          in: query
          name: 'page[number]'
          schema:
            minimum: 1
            type: integer
        - description: |+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: 'page[size]'
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            Limit the result to credits for the entity with this ID only. If the
            entity is not

            published, the credential needs to have the right privilege to list
            the credits for it.
          example: 76654e16-76ce-4945-92e9-e0a381917853
          in: query
          name: creditable_id
          schema:
            format: uuid
            type: string
        - description: >
            Limit the result to credits linked to this type of entity only.

            Depending on the privileges of the credential, this list might be
            further reduced to

            only published entities.
          in: query
          name: creditable_type
          schema:
            enum:
              - Series
              - Season
              - Episode
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top
            section or the

            [JSON:API
            specification](https://jsonapi.org/format/#fetching-sorting) on how
            sorting works in general.
          in: query
          name: sort
          schema:
            default: position
            items:
              enum:
                - created_at
                - position
                - updated_at
              type: string
            type: array
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Credit'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Success
        '400':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    description: >
                      An error object describing the problem. Please check out
                      the

                      [JSON:API Error document
                      reference](https://jsonapi.org/format/#error-objects) for
                      a full

                      description of the returned object.
                    items:
                      properties:
                        code:
                          description: >-
                            An application-specific error code, expressed as a
                            string value
                          type: string
                        detail:
                          description: >
                            A human-readable explanation specific to this
                            occurrence of the problem. Like title, this field’s
                            value can be localized.
                          example: Required query parameter “series_id” is missing
                          type: string
                        source:
                          description: >
                            An object containing references to the source of the
                            error, optionally including any of the following
                            members.
                          nullable: true
                          properties:
                            parameter:
                              description: >-
                                A string indicating which URI query parameter
                                caused the error.
                              example: series_id
                              type: string
                            pointer:
                              description: >
                                A JSON Pointer
                                [RFC6901](https://tools.ietf.org/html/rfc6901)
                                to the associated entity in the request document
                                (e.g. `/data` for a primary data object, or
                                `/data/attributes/title` for a specific
                                attribute).
                              example: /data/attributes/name
                              type: string
                          type: object
                        status:
                          description: >-
                            The HTTP status code applicable to this problem,
                            expressed as a string value: 400
                          example: '400'
                          type: string
                        title:
                          description: >
                            A short, human-readable summary of the problem that
                            SHOULD NOT change from occurrence to occurrence of
                            the

                            problem, except for purposes of localization.
                          example: Bad Request
                          type: string
                      type: object
                    type: array
                type: object
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no
            larger than 100. 
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Credit
      summary: Get a list of credits
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/credits",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="0f08b153-564b-4402-a0aa-9fb88fc07be4"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="b0693669-fe01-425a-a8f1-a661f921b045"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/credits');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="eb837d59-83ab-4077-b584-1003dabf4d0e"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="e6370a70-5ce1-4696-ae01-4195b10dc877"' \
              --compressed
  '/credits/{id}':
    get:
      parameters:
        - description: The ID of the credit resource to load.
          example: de5527e9-9d2a-4a3b-a643-635bfceb9516
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Credit'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Credit
      summary: Get a specific credit
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/credits/9f42d023-7935-4f56-b17f-d40ae8020493",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="9dbf610e-ca65-4e01-8ee4-5d796ccddce2"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/credits/9f42d023-7935-4f56-b17f-d40ae8020493', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="2f19df98-5ceb-4611-bdc8-480938f911b9"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/credits/9f42d023-7935-4f56-b17f-d40ae8020493');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="16e50994-8c65-4771-b156-6c17b016fc36"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/credits/9f42d023-7935-4f56-b17f-d40ae8020493' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="1aa75ee9-4006-4978-88c9-2f1ba3e2fe0e"' \
              --compressed
  /episodes:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you
            want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: 'ids[]'
          required: false
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
        - description: >+
            Select which page number to receive results for. Pages are numbered
            starting at 1.

          in: query
          name: 'page[number]'
          required: 'true'
          schema:
            minimum: 1
            type: integer
        - description: |+
            Indicate how many records to return per page. The maximum is 100.

          in: query
          name: 'page[size]'
          required: 'true'
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: >-
            Limit the result to episodes usable with an inventory management
            calendar for the provided AdDeal ID.
          example: b97239ef-1776-489a-a1df-5f70a8407148
          in: query
          name: included_in_inventory_calendar
          schema:
            format: uuid
            type: string
        - description: Limit the result to episodes released in this month.
          in: query
          name: month
          schema:
            type: string
        - description: |
            If `true`, limit the result to published episodes only.
            If `false`, limit the result to _unpublished_ episodes only.
          in: query
          name: published
          schema:
            type: boolean
        - description: >-
            Limit the result to episodes with a title containing this parameter
            in a case-insensitive way.
          in: query
          name: q
          schema:
            type: string
        - description: Limit the result to episodes released after this timestamp.
          in: query
          name: released_after
          schema:
            format: date-time
            type: string
        - description: Limit the result to episodes released before this timestamp.
          in: query
          name: released_before
          schema:
            format: date-time
            type: string
        - description: >
            If `true`, limit the result to published and released episodes
            holding an available media file.

            If this is `true`, it also changes the default sort order to
            `-released_at`.
          in: query
          name: rss
          schema:
            type: boolean
        - description: Limit result to episodes linked to this season.
          example: 30e7b568-d099-486b-9a8e-51b7594cab7d
          in: query
          name: season_id
          schema:
            format: uuid
            type: string
        - description: Limit the result to episodes linked to this series.
          example: d0ceb1ff-b95b-4c1e-a7e5-a36ed7b4d3b7
          in: query
          name: series_id
          schema:
            format: uuid
            type: string
        - description: >
            Specify how to sort the result. Please refer to either the top
            section or the

            [JSON:API
            specification](https://jsonapi.org/format/#fetching-sorting) on how
            sorting works in general.
          in: query
          name: sort
          schema:
            default: sort_title
            items:
              enum:
                - created_at
                - earliest_released_at
                - released_at
                - released_or_created_at
                - sort_title
                - title
                - updated_at
              type: string
            type: array
          style: form
        - description: Limit the result to episodes released in this year.
          in: query
          name: year
          schema:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Episode'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Success
        '400':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    description: >
                      An error object describing the problem. Please check out
                      the

                      [JSON:API Error document
                      reference](https://jsonapi.org/format/#error-objects) for
                      a full

                      description of the returned object.
                    items:
                      properties:
                        code:
                          description: >-
                            An application-specific error code, expressed as a
                            string value
                          type: string
                        detail:
                          description: >
                            A human-readable explanation specific to this
                            occurrence of the problem. Like title, this field’s
                            value can be localized.
                          example: Required query parameter “series_id” is missing
                          type: string
                        source:
                          description: >
                            An object containing references to the source of the
                            error, optionally including any of the following
                            members.
                          nullable: true
                          properties:
                            parameter:
                              description: >-
                                A string indicating which URI query parameter
                                caused the error.
                              example: series_id
                              type: string
                            pointer:
                              description: >
                                A JSON Pointer
                                [RFC6901](https://tools.ietf.org/html/rfc6901)
                                to the associated entity in the request document
                                (e.g. `/data` for a primary data object, or
                                `/data/attributes/title` for a specific
                                attribute).
                              example: /data/attributes/name
                              type: string
                          type: object
                        status:
                          description: >-
                            The HTTP status code applicable to this problem,
                            expressed as a string value: 400
                          example: '400'
                          type: string
                        title:
                          description: >
                            A short, human-readable summary of the problem that
                            SHOULD NOT change from occurrence to occurrence of
                            the

                            problem, except for purposes of localization.
                          example: Bad Request
                          type: string
                      type: object
                    type: array
                type: object
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must be present and have a positive page number and a
            page size no larger than 100. One initial filter must be provided
            (`ids`, `series_id`, or `season_id`).
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Episode
      description: >
        One initial filter must be provided (`ids`, `series_id`, or
        `season_id`), otherwise a `400 Bad Request` response

        will be returned. Additional filters are allowed.


        This API will only return episodes that your credential has permission
        to access, which may not be exclusive to

        your account, depending on the filter(s) being used. Be careful to
        filter the results as needed.
      summary: Get a list of episodes
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/episodes",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="50ef45fd-0adf-45ea-8be5-6c6ccb67a9b7"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="3c9084d1-94f7-4d9d-bc76-9432ad0dd3f3"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/episodes');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="b3f7b640-9562-4ab3-b5a2-dc6c87522963"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="a83652ed-0857-443a-92fe-e87ac113216f"' \
              --compressed
  '/episodes/{id}':
    get:
      parameters:
        - description: The ID of the episode resource to load.
          example: 19936c7e-06d4-4107-a07b-ac248735445a
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Episode'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Episode
      summary: Get a specific episode
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/episodes/2205043b-0c17-4b2f-a0f9-7c48a6b01b78",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="a7075ffe-23b7-4c74-a30c-1d2caf66358e"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/episodes/2205043b-0c17-4b2f-a0f9-7c48a6b01b78', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="7ff98f43-e035-4ede-9bed-2487efe9cde3"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/2205043b-0c17-4b2f-a0f9-7c48a6b01b78');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="254526b7-d6a3-4c44-868e-a5f16b55ff0b"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/episodes/2205043b-0c17-4b2f-a0f9-7c48a6b01b78' \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="0e02f4eb-0b70-4d95-b37e-131d3d342bcf"' \
              --compressed
  '/episodes/{id}/next_sibling':
    get:
      parameters:
        - description: >-
            The ID of the episode to find the one episode released right after
            it.
          example: bca21c32-4f10-4f2e-bc3e-ce93eaa23b35
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: >
            If `true`, get the next released and published episode with an
            available media file.
          in: query
          name: rss
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Episode'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Episode
      summary: Get the episode released right after the specified one
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/episodes/7379965d-2674-404c-b4d9-020f35043315/next_sibling",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="78adb10a-5965-40eb-9601-45bf232cc3fb"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/episodes/7379965d-2674-404c-b4d9-020f35043315/next_sibling', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="fd18418f-4d8c-484a-915a-bfa792f445bc"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/7379965d-2674-404c-b4d9-020f35043315/next_sibling');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="6acc389e-f49b-45fb-9034-d74f59aaae0f"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/episodes/7379965d-2674-404c-b4d9-020f35043315/next_sibling'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="1bebca14-4d10-44d5-bfbe-d59d838fcdbf"' \
              --compressed
  '/episodes/{id}/previous_sibling':
    get:
      parameters:
        - description: >-
            The ID of the episode to find the one episode released right before
            it.
          example: 8cc8ffa0-ed3d-4dd6-b673-99a46658abb0
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: >
            If `true`, get the previously released and published episode with an
            available media file.
          in: query
          name: rss
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Episode'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Episode
      summary: Get the episode released right before the specified one
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/episodes/c2971f78-bb75-4542-acfa-718df2c50add/previous_sibling",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="a18fa318-aa30-4322-88c8-ad6b081d5e8a"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/episodes/c2971f78-bb75-4542-acfa-718df2c50add/previous_sibling', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="76d9719f-bbb6-4089-8075-34874ccba5d8"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/c2971f78-bb75-4542-acfa-718df2c50add/previous_sibling');
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="3ffd0e38-f9a2-44c0-8e5a-33d025f575cd"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl
            'https://art19.com/episodes/c2971f78-bb75-4542-acfa-718df2c50add/previous_sibling'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="02d8111a-8ca7-4db7-8d56-18ac8f8e1dbe"' \
              --compressed
  /images:
    get:
      parameters:
        - description: >
            The list of IDs to filter by. Repeat this parameter for each ID you
            want to include in the filter.

            The brackets *MUST* be percent-encoded, per the requirements in

            [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).
          explode: true
          in: query
          name: 'ids[]'
          required: true
          schema:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Image'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Success
        '400':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    description: >
                      An error object describing the problem. Please check out
                      the

                      [JSON:API Error document
                      reference](https://jsonapi.org/format/#error-objects) for
                      a full

                      description of the returned object.
                    items:
                      properties:
                        code:
                          description: >-
                            An application-specific error code, expressed as a
                            string value
                          type: string
                        detail:
                          description: >
                            A human-readable explanation specific to this
                            occurrence of the problem. Like title, this field’s
                            value can be localized.
                          example: Required query parameter “series_id” is missing
                          type: string
                        source:
                          description: >
                            An object containing references to the source of the
                            error, optionally including any of the following
                            members.
                          nullable: true
                          properties:
                            parameter:
                              description: >-
                                A string indicating which URI query parameter
                                caused the error.
                              example: series_id
                              type: string
                            pointer:
                              description: >
                                A JSON Pointer
                                [RFC6901](https://tools.ietf.org/html/rfc6901)
                                to the associated entity in the request document
                                (e.g. `/data` for a primary data object, or
                                `/data/attributes/title` for a specific
                                attribute).
                              example: /data/attributes/name
                              type: string
                          type: object
                        status:
                          description: >-
                            The HTTP status code applicable to this problem,
                            expressed as a string value: 400
                          example: '400'
                          type: string
                        title:
                          description: >
                            A short, human-readable summary of the problem that
                            SHOULD NOT change from occurrence to occurrence of
                            the

                            problem, except for purposes of localization.
                          example: Bad Request
                          type: string
                      type: object
                    type: array
                type: object
          description: >
            Bad Request


            Parameters requiring a specific format must adhere to that format.

            Pagination must have a positive page number and a page size no
            larger than 100. 
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Image
      description: >+
        An image represents a piece of artwork attached to some entity like a
        series, season, or episode,

        and is _owned_ by an entity called the `bucket`.

        An image is also a container for several `MediaAssets` representing the
        physical files for various

        styles used.


        ## Media Asset Styles for Images


        Most media assets use square images. You may upload and use a square
        image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area
        – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for
        all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any
        `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping,
        then the system will use a squared

        version of the original file with the smaller of width or height as the
        square size.


        The original image as uploaded into the system is always retained
        unmodified and available through

        the style `original`. All media asset styles except `stripped-original`
        consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available,
        depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP,
        PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped
        image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100`
        pixels.

        - `square-400`: A square version of the image with a size of `400x400`
        pixels.

        - `square-640`: A square version of the image with a size of `640x640`
        pixels.

        - `square-888`: A square version of the image with a size of `888x888`
        pixels.

        - `square-3000`: A square version of the image with a size of
        `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400`
        pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the
        `square-3000` version.

        If that is not available, the `itunes` version should be used instead.

      summary: Get a list of images
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/images",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="f15d5acb-2a9d-4594-b721-aad57580fcc9"'
              },
              params: {
                # add filters if desired
                page: { number: 1, size: 25 }
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="5fd10805-89ed-45f9-a2c9-55c7599da232"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
            <?php
            // Initialize a cURL resource for a request
            $request = curl_init();

            try {
              // The API endpoint to request data from
              $url = array('https://art19.com/images');

              // Provide extra parameters like filters or pagination to the request
              $url[] = http_build_query(array(
                'page' => array('number' => 1, 'size' => 25)
              ));

              // Configure the cURL options
              curl_setopt($request, CURLOPT_URL, implode('?', $url));
              curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);
              curl_setopt($request, CURLOPT_RETURNTRANSFER, true);
              curl_setopt($request, CURLOPT_ENCODING, '');
              curl_setopt($request, CURLOPT_HTTPHEADER, array(
                'Accept: application/vnd.api+json',
                'Authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="6c886b8c-8dd2-4aa9-a98a-73ddd078d09d"'
              ));

              // Execute the request and grab all status information
              $output = curl_exec($request);
              $info   = curl_getinfo($request);
              $code   = $info['http_code'];

              if ($code >= 200 && $code < 300) {
                // HTTP 2xx - JSON:API response available to be parsed in $output
                $json = json_decode($output);
              } else if ($code >= 400 && $code < 500) {
                // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output
                if (strlen($output) > 0) {
                  $errors = json_decode($output);
                }
              } else {
                // Other HTTP status, treat according to workflow
              }
            } finally {
              // Free up the resource to clear out memory
              curl_close($request);
            }
            ?>
        - label: cURL
          lang: shell
          source: >
            curl 'https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25'
            \
              -H 'accept: application/vnd.api+json' \
              -H 'authorization: Token token="UVd4c0lFTnZjSKbElFSm", credential="894c002e-f9c4-4bcb-a0be-6ab6a1ff8fa4"' \
              --compressed
  '/images/{id}':
    get:
      parameters:
        - description: The ID of the image resource to load.
          example: d042837c-8a60-4034-ad8b-7d8f68718213
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Image'
                  links:
                    $ref: '#/components/schemas/ResourceLink'
                type: object
          description: Success
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '406':
          $ref: '#/components/responses/not_acceptable'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
      security:
        - api_key: []
      tags:
        - Image
      description: >+
        An image represents a piece of artwork attached to some entity like a
        series, season, or episode,

        and is _owned_ by an entity called the `bucket`.

        An image is also a container for several `MediaAssets` representing the
        physical files for various

        styles used.


        ## Media Asset Styles for Images


        Most media assets use square images. You may upload and use a square
        image, or upload an image of any

        shape and crop it to a square by specifying the cropping area. This area
        – identified by a coordinate

        `x, y` and a `width` & `height` – is the portion of the image used for
        all cover art. If an image has

        cropping defined, the cropped version of the image will be used in any
        `regular` or `square` style of media

        asset. If the original file is rectangular and does not have cropping,
        then the system will use a squared

        version of the original file with the smaller of width or height as the
        square size.


        The original image as uploaded into the system is always retained
        unmodified and available through

        the style `original`. All media asset styles except `stripped-original`
        consist of the cropped image.


        An image has media assets with the following styles:


        - `original`: This is the original file provided. May not be available,
        depending on permissions
          and file type.
        - `stripped-original`: The original file with all metadata (EXIF, XMP,
        PNG metadata, etc.) removed.
          This should be used for any application needing the original, uncropped, image.
        - `regular`: If the image has cropping defined, this is the cropped
        image.
          If not, this is a square version of the original.
        - `thumb`: A square thumbnail of the image with a size of `100x100`
        pixels.

        - `square-400`: A square version of the image with a size of `400x400`
        pixels.

        - `square-640`: A square version of the image with a size of `640x640`
        pixels.

        - `square-888`: A square version of the image with a size of `888x888`
        pixels.

        - `square-3000`: A square version of the image with a size of
        `3000x3000` pixels.
          This variant is only created if the cropped width & height are each at least 3000.
        - `itunes`: A square version of the image with a size of `1400x1400`
        pixels.


        ### Preferred image used in feeds


        For the main series image used in feeds, it is ideal to use the
        `square-3000` version.

        If that is not available, the `itunes` version should be used instead.

      summary: Get a specific image
      x-codeSamples:
        - label: Ruby - Typhoeus
          lang: ruby
          source: |
            response = Typhoeus.get(
              "https://art19.com/images/c10fc98f-f62a-4bda-bc0d-350453ba1b8f",
              accept_encoding: 'gzip',
              headers: {
                Accept:        'application/vnd.api+json',
                Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="25844881-80be-4b49-86ef-3809ada2fac7"'
              },
              timeout: 10
            )
            if response.success?
              # HTTP 2xx - JSON:API available to be parsed in response.body
            elsif response.timed_out?
              # Request timed out
            elsif response.code.zero?
              # cURL didn't get back an HTTP response, the reason is in response.return_message
            else
              # Other HTTP status, check response.code for which
            end
        - label: JavaScript - Fetch
          lang: javascript
          source: |
            try {
              const response = await fetch('https://art19.com/images/c10fc98f-f62a-4bda-bc0d-350453ba1b8f', {
                headers: {
                  Accept:        'application/vnd.api+json',
                  Authorization: 'Token token="UVd4c0lFTnZjSKbElFSm", credential="7da2c6d7-732f-4368-865d-d15289db45b8"'
                }
              });

              if (response.ok) {
                // Get the response body if HTTP-status is 200-299
                const json = await response.json();
              } else {
                // HTTP request failed, handle error
              }
            } catch(err) {
              // A network error occured
            }
        - label: PHP - cURL
          lang: php
          source: |
[...]
