{
  "openapi": "3.0.0",
  "info": {
    "title": "StreamAnalyticsManagementClient",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/subscriptions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas": {
      "get": {
        "parameters": [
          {
            "description": "The region in which to retrieve the subscription's quota information. You can find out which regions Azure Stream Analytics is supported in here: https://azure.microsoft.com/en-us/regions/",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionQuotasListResult"
                }
              }
            },
            "description": "Successfully retrieved the subscription's quota information in the specified region."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "Retrieves the subscription's current quota information in a particular region.",
        "operationId": "Subscriptions_ListQuotas",
        "x-ms-examples": {
          "List subscription quota information in West US": {
            "$ref": "./examples/Subscription_ListQuotas.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "SubResource": {
        "description": "The base sub-resource model definition.",
        "properties": {
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SubscriptionQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Describes the current quota for the subscription.",
        "properties": {
          "properties": {
            "description": "Describes the properties of the quota.",
            "properties": {
              "currentCount": {
                "description": "The current usage of this resource.",
                "format": "int32",
                "readOnly": true,
                "type": "integer"
              },
              "maxCount": {
                "description": "The max permitted usage of this resource.",
                "format": "int32",
                "readOnly": true,
                "type": "integer"
              }
            },
            "readOnly": true,
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SubscriptionQuotasListResult": {
        "description": "Result of the GetQuotas operation. It contains a list of quotas for the subscription in a particular region.",
        "properties": {
          "value": {
            "description": "List of quotas for the subscription in a particular region.",
            "items": {
              "$ref": "#/components/schemas/SubscriptionQuota"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}