openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHostListResult'
          description: Success. The operation returns a list of Bastion Host resources.
      tags:
        - BastionHosts
      description: Lists all Bastion Hosts in a subscription.
      operationId: BastionHosts_List
      x-ms-examples:
        List all Bastion Hosts for a given subscription:
          $ref: ./examples/BastionHostListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHostListResult'
          description: Success. The operation returns a list of BastionHost resources.
      tags:
        - BastionHosts
      description: Lists all Bastion Hosts in a resource group.
      operationId: BastionHosts_ListByResourceGroup
      x-ms-examples:
        List all Bastion Hosts for a given resource group:
          $ref: ./examples/BastionHostListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Bastion Host.
          in: path
          name: bastionHostName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not exist.
      tags:
        - BastionHosts
      description: Deletes the specified Bastion Host.
      operationId: BastionHosts_Delete
      x-ms-examples:
        Delete Bastion Host:
          $ref: ./examples/BastionHostDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Bastion Host.
          in: path
          name: bastionHostName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: Request successful. The operation returns an BastionHost resource.
      tags:
        - BastionHosts
      description: Gets the specified Bastion Host.
      operationId: BastionHosts_Get
      x-ms-examples:
        Get Bastion Host:
          $ref: ./examples/BastionHostGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Bastion Host.
          in: path
          name: bastionHostName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: >-
            Update successful. The operation returns the resulting Bastion Host
            resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BastionHost'
          description: >-
            Create successful. The operation returns the resulting Bastion Host
            resource.
      tags:
        - BastionHosts
      description: Creates or updates the specified Bastion Host.
      operationId: BastionHosts_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BastionHost'
        description: Parameters supplied to the create or update Bastion Host operation.
        required: true
      x-ms-examples:
        Create Bastion Host:
          $ref: ./examples/BastionHostPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  schemas:
    BastionHost:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Bastion Host resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/BastionHostPropertiesFormat'
          description: Represents the bastion host resource.
          x-ms-client-flatten: true
      type: object
    BastionHostIPConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: IP configuration of an Bastion Host.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            Name of the resource that is unique within a resource group. This
            name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/BastionHostIPConfigurationPropertiesFormat'
          description: Represents the ip configuration associated with the resource.
          x-ms-client-flatten: true
        type:
          description: Ip configuration type.
          readOnly: true
          type: string
      type: object
    BastionHostIPConfigurationPropertiesFormat:
      description: Properties of IP configuration of an Bastion Host.
      properties:
        privateIPAllocationMethod:
          $ref: ./network.json#/definitions/IPAllocationMethod
          description: Private IP allocation method.
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
        publicIPAddress:
          $ref: ./network.json#/definitions/SubResource
          description: Reference of the PublicIP resource.
        subnet:
          $ref: ./network.json#/definitions/SubResource
          description: Reference of the subnet resource.
      required:
        - subnet
        - publicIPAddress
      type: object
    BastionHostListResult:
      description: Response for ListBastionHosts API service call.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: List of Bastion Hosts in a resource group.
          items:
            $ref: '#/components/schemas/BastionHost'
          type: array
      type: object
    BastionHostPropertiesFormat:
      description: Properties of the Bastion Host.
      properties:
        dnsName:
          description: FQDN for the endpoint on which bastion host is accessible.
          type: string
        ipConfigurations:
          description: IP configuration of the Bastion Host resource.
          items:
            $ref: '#/components/schemas/BastionHostIPConfiguration'
          type: array
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

