openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResultV2'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Retrieve a list of jobs.
      operationId: Job_ListByAutomationAccount
      x-ms-examples:
        List jobs by automation account:
          $ref: ./examples/job/listJobsByAutomationAccount.json
      x-ms-odata: '#/components/schemas/JobCollectionItem'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Retrieve the job identified by job name.
      operationId: Job_Get
      x-ms-examples:
        Get job:
          $ref: ./examples/job/getJob.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Create a job of the runbook.
      operationId: Job_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreateParameters'
        description: The parameters supplied to the create job operation.
        required: true
      x-ms-examples:
        Create job:
          $ref: ./examples/job/createJob.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/output':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The name of the job to be created.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json: {}
            text/plain: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Retrieve the job output identified by job name.
      operationId: Job_GetOutput
      x-ms-examples:
        Get Job Output:
          $ref: ./examples/job/getJobOutput.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/resume':
    post:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Resume the job identified by jobName.
      operationId: Job_Resume
      x-ms-examples:
        Resume job:
          $ref: ./examples/job/resumeJob.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/runbookContent':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Retrieve the runbook content of the job identified by job name.
      operationId: Job_GetRunbookContent
      x-ms-examples:
        Get Job Runbook Content:
          $ref: ./examples/job/getJobRunbookContent.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/stop':
    post:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Stop the job identified by jobName.
      operationId: Job_Stop
      x-ms-examples:
        Stop job:
          $ref: ./examples/job/stopJob.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStreamListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobStream
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      description: Retrieve a list of jobs streams identified by job name.
      operationId: JobStream_ListByJob
      x-ms-examples:
        List job streams by job name:
          $ref: ./examples/job/listJobStreamsByJob.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams/{jobStreamId}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStream'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobStream
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      description: Retrieve the job stream identified by job stream id.
      operationId: JobStream_Get
      x-ms-examples:
        Get job stream:
          $ref: ./examples/job/getJobStream.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/suspend':
    post:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job name.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/clientRequestId
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Job
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/joboperations'
      description: Suspend the job identified by job name.
      operationId: Job_Suspend
      x-ms-examples:
        Suspend job:
          $ref: ./examples/job/suspendJob.json
components:
  schemas:
    Job:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: Definition of the job.
      properties:
        properties:
          $ref: '#/components/schemas/JobProperties'
          description: The properties of the job.
          x-ms-client-flatten: true
      type: object
      x-ms-mutability:
        - read
        - create
    JobCollectionItem:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: Job collection item properties.
      properties:
        properties:
          $ref: '#/components/schemas/JobCollectionItemProperties'
          description: Job properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    JobCollectionItemProperties:
      description: Job collection item properties.
      properties:
        creationTime:
          description: The creation time of the job.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        endTime:
          description: The end time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        jobId:
          description: The id of the job.
          format: uuid
          nullable: false
          readOnly: true
          type: string
        lastModifiedTime:
          description: The last modified time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state of a resource.
          readOnly: true
          type: string
        runOn:
          description: Specifies the runOn group name where the job was executed.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: The runbook association.
          readOnly: true
        startTime:
          description: The start time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        status:
          description: The status of the job.
          enum:
            - New
            - Activating
            - Running
            - Completed
            - Failed
            - Stopped
            - Blocked
            - Suspended
            - Disconnected
            - Suspending
            - Stopping
            - Resuming
            - Removing
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
      type: object
    JobCreateParameters:
      description: The parameters supplied to the create job operation.
      properties:
        properties:
          $ref: '#/components/schemas/JobCreateProperties'
          description: Gets or sets the list of job properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    JobCreateProperties:
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        runOn:
          description: >-
            Gets or sets the runOn which specifies the group name where the job
            is to be executed.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
      type: object
    JobListResultV2:
      description: The response model for the list job operation.
      properties:
        nextLink:
          description: The  link to the next page.
          readOnly: true
          type: string
        value:
          description: List of jobs.
          items:
            $ref: '#/components/schemas/JobCollectionItem'
            readOnly: true
          type: array
      type: object
    JobProperties:
      description: Definition of job properties.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        creationTime:
          description: Gets or sets the creation time of the job.
          format: date-time
          nullable: false
          type: string
        endTime:
          description: Gets or sets the end time of the job.
          format: date-time
          nullable: true
          type: string
        exception:
          description: Gets or sets the exception of the job.
          type: string
        jobId:
          description: Gets or sets the id of the job.
          format: uuid
          nullable: false
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time of the job.
          format: date-time
          nullable: true
          type: string
        lastStatusModifiedTime:
          description: Gets or sets the last status modified time of the job.
          format: date-time
          nullable: true
          type: string
        provisioningState:
          $ref: '#/components/schemas/JobProvisioningStateProperty'
          description: The current provisioning state of the job.
        runOn:
          description: >-
            Gets or sets the runOn which specifies the group name where the job
            is to be executed.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        startTime:
          description: Gets or sets the start time of the job.
          format: date-time
          nullable: true
          type: string
        startedBy:
          description: Gets or sets the job started by.
          type: string
        status:
          description: Gets or sets the status of the job.
          enum:
            - New
            - Activating
            - Running
            - Completed
            - Failed
            - Stopped
            - Blocked
            - Suspended
            - Disconnected
            - Suspending
            - Stopping
            - Resuming
            - Removing
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
        statusDetails:
          description: Gets or sets the status details of the job.
          type: string
      type: object
    JobProvisioningStateProperty:
      description: The provisioning state of the resource.
      enum:
        - Failed
        - Succeeded
        - Suspended
        - Processing
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: JobProvisioningState
    JobStream:
      description: Definition of the job stream.
      properties:
        id:
          description: Gets or sets the id of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/JobStreamProperties'
          description: Gets or sets the id of the job stream.
          x-ms-client-flatten: true
      type: object
    JobStreamListResult:
      description: The response model for the list job stream operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: A list of job streams.
          items:
            $ref: '#/components/schemas/JobStream'
          type: array
      type: object
    JobStreamProperties:
      description: Definition of the job stream.
      properties:
        jobStreamId:
          description: Gets or sets the id of the job stream.
          type: string
        streamText:
          description: Gets or sets the stream text.
          type: string
        streamType:
          description: Gets or sets the stream type.
          enum:
            - Progress
            - Output
            - Warning
            - Error
            - Debug
            - Verbose
            - Any
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStreamType
        summary:
          description: Gets or sets the summary.
          type: string
        time:
          description: Gets or sets the creation time of the job.
          format: date-time
          nullable: false
          type: string
        value:
          additionalProperties:
            type: object
          description: Gets or sets the values of the job stream.
          type: object
      type: object
      x-ms-client-flatten: true
    RunbookAssociationProperty:
      description: The runbook property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the runbook.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

