openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2018-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Network/operations:
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      description: Lists all of the available Network Rest API operations.
      operationId: Operations_List
      x-ms-examples:
        Get a list of operations for a resource provider:
          $ref: ./examples/OperationList.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    Availability:
      description: Availability of the metric.
      properties:
        blobDuration:
          description: Duration of the availability blob.
          type: string
        retention:
          description: The retention of the availability.
          type: string
        timeGrain:
          description: The time grain of the availability.
          type: string
      type: object
    Dimension:
      description: Dimension of the metric.
      properties:
        displayName:
          description: The display name of the dimension.
          type: string
        internalName:
          description: The internal name of the dimension.
          type: string
        name:
          description: The name of the dimension.
          type: string
      type: object
    LogSpecification:
      description: Description of logging specification.
      properties:
        blobDuration:
          description: Duration of the blob.
          type: string
        displayName:
          description: The display name of the specification.
          type: string
        name:
          description: The name of the specification.
          type: string
      type: object
    MetricSpecification:
      description: Description of metrics specification.
      properties:
        aggregationType:
          description: The aggregation type.
          type: string
        availabilities:
          description: List of availability.
          items:
            $ref: '#/components/schemas/Availability'
          type: array
        dimensions:
          description: List of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        displayDescription:
          description: The description of the metric.
          type: string
        displayName:
          description: The display name of the metric.
          type: string
        enableRegionalMdmAccount:
          description: Whether regional MDM account enabled.
          type: boolean
        fillGapWithZero:
          description: Whether gaps would be filled with zeros.
          type: boolean
        isInternal:
          description: Whether the metric is internal.
          type: boolean
        metricFilterPattern:
          description: Pattern for the filter of the metric.
          type: string
        name:
          description: The name of the metric.
          type: string
        resourceIdDimensionNameOverride:
          description: The resource Id dimension name override.
          type: string
        sourceMdmAccount:
          description: The source MDM account.
          type: string
        sourceMdmNamespace:
          description: The source MDM namespace.
          type: string
        unit:
          description: Units the metric to be displayed in.
          type: string
      type: object
    Operation:
      description: Network REST API operation definition.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            description:
              description: Description of the operation.
              type: string
            operation:
              description: 'Type of the operation: get, read, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft Network.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        origin:
          description: Origin of the operation.
          type: string
        properties:
          $ref: '#/components/schemas/OperationPropertiesFormat'
          description: Operation properties format.
          x-ms-client-flatten: true
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Network operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: >-
            List of Network operations supported by the Network resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationPropertiesFormat:
      description: Description of operation properties format.
      properties:
        serviceSpecification:
          description: Specification of the service.
          properties:
            logSpecifications:
              description: Operation log specification.
              items:
                $ref: '#/components/schemas/LogSpecification'
              type: array
            metricSpecifications:
              description: Operation service specification.
              items:
                $ref: '#/components/schemas/MetricSpecification'
              type: array
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

