{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/linkedWorkspace.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/linkedWorkspace": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedWorkspace"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "LinkedWorkspace"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/linkedworkspaceoperations"
        },
        "description": "Retrieve the linked workspace for the account id.",
        "operationId": "LinkedWorkspace_Get",
        "x-ms-examples": {
          "Get the linked workspace of an automation account": {
            "$ref": "./examples/getLinkedWorkspace.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LinkedWorkspace": {
        "description": "Definition of the linked workspace.",
        "properties": {
          "id": {
            "description": "Gets the id of the linked workspace.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}