openapi: 3.0.0
info:
  description: Provides read functionality for Azure SQL Database Backups
  title: Azure SQL Database Backup
  version: '2014-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverableDatabaseListResult'
          description: OK
      tags:
        - RecoverableDatabases
      description: Gets a list of recoverable databases
      operationId: RecoverableDatabases_ListByServer
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ./examples/RecoverableDatabaseList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the database
          in: path
          name: databaseName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverableDatabase'
          description: OK
      tags:
        - RecoverableDatabases
      description: >-
        Gets a recoverable database, which is a resource representing a
        database's geo backup
      operationId: RecoverableDatabases_Get
      x-ms-examples:
        Get a recoverable database:
          $ref: ./examples/RecoverableDatabaseGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorableDroppedDatabaseListResult'
          description: OK
      tags:
        - RestorableDroppedDatabases
      description: Gets a list of deleted databases that can be restored
      operationId: RestorableDroppedDatabases_ListByServer
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ./examples/RestorableDroppedDatabaseList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppededDatabaseId}':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: >-
            The id of the deleted database in the form of
            databaseName,deletionTimeInFileTimeFormat
          in: path
          name: restorableDroppededDatabaseId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorableDroppedDatabase'
          description: OK
      tags:
        - RestorableDroppedDatabases
      description: Gets a deleted database that can be restored
      operationId: RestorableDroppedDatabases_Get
      x-ms-examples:
        Get a restorable dropped database:
          $ref: ./examples/RestorableDroppedDatabaseGet.json
components:
  parameters:
    DatabaseExpandParameter:
      description: >-
        A comma separated list of child objects to expand in the response.
        Possible properties: serviceTierAdvisors, transparentDataEncryption.
      in: query
      name: $expand
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    RecoverableDatabase:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A recoverable database
      properties:
        properties:
          $ref: '#/components/schemas/RecoverableDatabaseProperties'
          description: The properties of a recoverable database
          x-ms-client-flatten: true
      type: object
    RecoverableDatabaseListResult:
      description: The response to a list recoverable databases request
      properties:
        value:
          description: A list of recoverable databases
          items:
            $ref: '#/components/schemas/RecoverableDatabase'
          type: array
      required:
        - value
      type: object
    RecoverableDatabaseProperties:
      description: The properties of a recoverable database
      properties:
        edition:
          description: The edition of the database
          readOnly: true
          type: string
        elasticPoolName:
          description: The elastic pool name of the database
          readOnly: true
          type: string
        lastAvailableBackupDate:
          description: The last available backup date of the database (ISO8601 format)
          format: date-time
          readOnly: true
          type: string
        serviceLevelObjective:
          description: The service level objective name of the database
          readOnly: true
          type: string
      type: object
    RestorableDroppedDatabase:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A restorable dropped database
      properties:
        location:
          description: The geo-location where the resource lives
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RestorableDroppedDatabaseProperties'
          description: The properties of a restorable dropped database
          x-ms-client-flatten: true
      type: object
    RestorableDroppedDatabaseListResult:
      description: The response to a list restorable dropped databases request
      properties:
        value:
          description: A list of restorable dropped databases
          items:
            $ref: '#/components/schemas/RestorableDroppedDatabase'
          type: array
      required:
        - value
      type: object
    RestorableDroppedDatabaseProperties:
      description: The properties of a restorable dropped database
      properties:
        creationDate:
          description: The creation date of the database (ISO8601 format)
          format: date-time
          readOnly: true
          type: string
        databaseName:
          description: The name of the database
          readOnly: true
          type: string
        deletionDate:
          description: The deletion date of the database (ISO8601 format)
          format: date-time
          readOnly: true
          type: string
        earliestRestoreDate:
          description: The earliest restore date of the database (ISO8601 format)
          format: date-time
          readOnly: true
          type: string
        edition:
          description: The edition of the database
          readOnly: true
          type: string
        elasticPoolName:
          description: The elastic pool name of the database
          readOnly: true
          type: string
        maxSizeBytes:
          description: The max size in bytes of the database
          readOnly: true
          type: string
        serviceLevelObjective:
          description: The service level objective name of the database
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

