{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/allowedConnections.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/allowedConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedConnectionsList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription",
        "operationId": "AllowedConnections_List",
        "x-ms-examples": {
          "Get allowed connections on a subscription": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnectionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedConnectionsList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription and location.",
        "operationId": "AllowedConnections_ListByHomeRegion",
        "x-ms-examples": {
          "Get allowed connections on a subscription from security data location": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnectionsSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections/{connectionType}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/ConnectionType"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedConnectionsResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription and location, based on connection type.",
        "operationId": "AllowedConnections_Get",
        "x-ms-examples": {
          "Get allowed connections": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnections_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ConnectionType": {
        "description": "The type of allowed connections (Internal, External)",
        "in": "path",
        "name": "connectionType",
        "required": true,
        "schema": {
          "enum": [
            "Internal",
            "External"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "connectionType",
          "values": [
            {
              "value": "Internal"
            },
            {
              "value": "External"
            }
          ]
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "AllowedConnectionsList": {
        "description": "List of all possible traffic between Azure resources",
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "items": {
              "$ref": "#/components/schemas/AllowedConnectionsResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "AllowedConnectionsResource": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          },
          {
            "$ref": "../../../common/v1/types.json#/definitions/Location"
          }
        ],
        "description": "The resource whose properties describes the allowed traffic between Azure resources",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AllowedConnectionsResourceProperties",
            "readOnly": true,
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AllowedConnectionsResourceProperties": {
        "description": "Describes the allowed traffic between Azure resources",
        "properties": {
          "calculatedDateTime": {
            "description": "The UTC time on which the allowed connections resource was calculated",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "connectableResources": {
            "description": "List of connectable resources",
            "items": {
              "$ref": "#/components/schemas/ConnectableResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ConnectableResource": {
        "description": "Describes the allowed inbound and outbound traffic of an Azure resource",
        "properties": {
          "id": {
            "description": "The Azure resource id",
            "readOnly": true,
            "type": "string"
          },
          "inboundConnectedResources": {
            "description": "The list of Azure resources that the resource has inbound allowed connection from",
            "items": {
              "$ref": "#/components/schemas/ConnectedResource"
            },
            "readOnly": true,
            "type": "array"
          },
          "outboundConnectedResources": {
            "description": "The list of Azure resources that the resource has outbound allowed connection to",
            "items": {
              "$ref": "#/components/schemas/ConnectedResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ConnectedResource": {
        "description": "Describes properties of a connected resource",
        "properties": {
          "connectedResourceId": {
            "description": "The Azure resource id of the connected resource",
            "readOnly": true,
            "type": "string"
          },
          "tcpPorts": {
            "description": "The allowed tcp ports",
            "readOnly": true,
            "type": "string"
          },
          "udpPorts": {
            "description": "The allowed udp ports",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}